<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}"/></h1>
    </header>
    <section class="sheet-body">
        {{!-- attributes--}}
        <article class="attributes" data-group="primary" data-tab="attributes">
            <fieldset>
                <legend class="text-block-header">{{localize 'cats.items_sheet.type'}}</legend>
                <select class="attribute" name="system.favor_type">
                    {{selectOptions data.subTypesList selected=data.system.favor_type valueAttr='id' labelAttr='label' localize=true}}
                </select>
            </fieldset>

            {{!-- Description + Reference --}}
            {{> 'systems/cats-la-mascarade/templates/items/item/item-infos.html'}}
        </article>
    </section>
</form>
