<div class="{{cssClass}}" data-actor-id="{{actor._id}}" data-item-id="{{data._id}}">
    <header class="card-header">
        <h2 class="item-name"><img src="{{data.img}}" title="{{data.name}}" /> {{data.name}}</h2>
    </header>
    <section class="sheet-body">
        <ul>
            <li>
                <strong>{{localize 'cats.items_sheet.type'}}</strong> : {{localize (localize 'cats.items_sheet.{type}' type=data.system.favor_type)}}
            </li>
        </ul>

        {{!-- Description + Reference --}}
        <p><strong>{{localize 'cats.items_sheet.description'}}</strong> : {{{data.enrichedHtml.description}}}</p>
        <p><strong>{{localize 'cats.items_sheet.book_reference'}}</strong> : {{data.system.book_reference}}</p>
    </section>
</div>
