<div class="cats dice-roll">
    {{!-- Profil / Item / Target --}}
    {{#if showProfilSection}}
        {{> 'systems/cats-la-mascarade/templates/dice/chat-profil.html'}}
    {{/if}}

    {{!-- Formula + Result --}}
    <div class="dice-result">
        <div class="dice-formula">{{sanitizeFormula formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total cats total">{{total}}</h4>
        {{#if showDifficultyLevel}}
            <h4 class="dice-total cats difficulty-level {{#ifCond cats.critics.successes '>' cats.critics.failures}}success{{/ifCond}}{{#ifCond cats.critics.successes '<' cats.critics.failures}}failure{{/ifCond}}">{{localizeDifficultyLevel total}}</h4>
        {{/if}}
    </div>
</div>
