<div class="cats dice-roll critics">
    {{!-- Formula + Result --}}
    <fieldset class="dice-result {{#ifCond cats.type '==' 'failures'}}red{{/ifCond}}">
        <legend class="text-block-header">
            [{{total}}] {{localize (localize 'cats.actor_sheet.experience.{type}' type=cats.type)}}
            {{!-- {{#ifCond (ifCond cats.type '==' 'failures') '&&' (ifCond cats.critics.failureMaxValue '>' 1)}} (1-{{cats.critics.failureMaxValue}}){{/ifCond}} --}}
        </legend>

        {{!-- dice bar --}}
        <div class="dice-bar">
            {{#each parts}}
                <section class="tooltip-part">
                    <div class="dice">
                        <ol class="dice-rolls">
                            {{#each this.rolls}}
                                <li class="roll {{this.classes}}">{{{this.result}}}</li>
                            {{/each}}
                        </ol>
                    </div>
                </section>
            {{/each}}
        </div>
    </fieldset>
</div>