<div class="cats profil flexrow">
    {{#if cats.actor}}
        {{!-- Actor --}}
        <div class="chat-profil-element">
            <a class="content-link" draggable="true" data-uuid="{{cats.actor.uuid}}" data-link="">
                <img class="profile-img"
                     src="{{#if cats.actor.name}}{{cats.actor.img}}{{else}}icons/svg/mystery-man.svg{{/if}}"
                     alt="{{#if cats.actor.name}}{{cats.actor.name}}{{else}}mystery-man{{/if}}"
                />
            </a>
            <div class="square {{#ifCond cats.actorInjuries.value '>' 0}}red{{/ifCond}}" title="{{localize 'cats.actor_sheet.injury_levels.title'}}">{{{actorInjuriesText}}}</div>
        </div>
    {{/if}}

    {{!-- Item --}}
    {{#if cats.item.uuid}}
        <div class="chat-profil-element">
            <div class="chat-profil-element" title="{{cats.item.name}} ({{sum cats.item.system.base cats.item.system.rank}})">
                <a class="content-link" draggable="true" data-uuid="{{cats.item.uuid}}" data-link="">
                    <img class="profile-img" src="{{cats.item.img}}" alt="{{cats.item.name}}"/>
                </a>
            </div>
        </div>
    {{else}}
        <div class="flavor">{{cats.flavor}}</div>
    {{/if}}

    {{!-- Target --}}
    {{#if cats.target.uuid}}
        <div class="chat-profil-element">
            <div class="cats target {{#if noTargetDisclosure}}gm-only{{/if}}">
                <div class="chat-profil-element" title="{{cats.target.name}}">
                    <a class="content-link" draggable="true" data-uuid="{{cats.target.actor.uuid}}" data-link="">
                        <img class="profile-img target"
                             src="{{cats.target.texture.src}}"
                             alt="{{cats.target.name}}"
                        />
                    </a>
                </div>
            </div>
            {{#if noTargetDisclosure}}
                <div class="cats target player-only">
                    <div class="profile" title="{{localize 'cats.dice.unknown_target'}}">
                        <img class="profile-img target" src="icons/svg/mystery-man.svg" alt="{{localize 'cats.dice.unknown_target'}}"/>
                    </div>
                </div>
            {{/if}}
        </div>
    {{/if}}
</div>
