<form class="{{cssClass}}" autocomplete="off">
    <header class="header flexrow">
        {{!-- Actor --}}
        <div class="profile actor">
            <img class="profile-img"
                 src="{{#if actor.img}}{{actor.img}}{{else}}icons/svg/mystery-man.svg{{/if}}"
                 alt="{{#if actor.name}}{{actor.name}}{{else}}mystery-man{{/if}}"
            />
            <div>{{#if actor.name}}{{actor.name}}{{else}}mystery-man{{/if}}</div>
        </div>

        {{!-- Item (Skill/Weapon) --}}
        <div class="profile item">
            {{#if item.uuid}}
                <img class="profile-img show-item-tooltip" data-uuid="{{item.uuid}}" src="{{item.img}}" alt="{{item.name}}"/>
                <div>{{item.name}} ({{object.modifiers.base}})</div>
            {{else}}
                <div class="action-text">{{object.actionText}}</div>
            {{/if}}
        </div>

        {{!-- Target --}}
        {{#if target.texture.src}}
            <div class="profile target">
                <img class="profile-img" src="{{target.texture.src}}" alt="{{target.name}}"/>
                <div>{{target.name}}</div>
            </div>
        {{/if}}
    </header>

    <section class="content flexcol">
        {{!-- luck --}}
        <div class="luck">
            <h2>{{localize "cats.dice.dice_picker.luck.title"}}</h2>

            {{!-- User choice : Add 0-5 dices to luck, but not on attribute roll (see talent "prescience") --}}
            {{^if object.attributeId}}
                <div class="flexrow add-dices">
                    <div class="title">{{localize "cats.dice.dice_picker.luck.addDice"}}</div>
                    <div class="flexrow radio-toolbar">
                        {{#times 6 0}}
                            {{> 'systems/cats-la-mascarade/templates/dice/radio-toolbar.html'
                                unqIndex=../unqIndex
                                name="luck.addedDice"
                                iteratorValue=this
                                objectValue=../object.luck.addedDice
                                color="green"
                                symbol="+"
                            }}
                        {{/times}}
                    </div>
                </div>
            {{/if}}

            {{!-- luck Dices --}}
            <div class="flexrow injuries">
                <div class="title">{{localize 'cats.dice.dice_picker.luck.dice'}}</div>
                <div class="dices">
                    {{#times object.luck.baseDice 0}}
                        <img class="dice-img" src="icons/dice/d10black.svg" alt="base d10"/>
                    {{/times}}
                    {{#times object.luck.addedDice 0}}
                        <img class="dice-img added" src="icons/dice/d10black.svg" alt="added d10"/>
                    {{/times}}
                </div>
            </div>

            {{!-- TODO luck : enable/disable critic (skill "voir le futur" permet d'ignorer ?) pas retrouvé ou c'est dit? --}}

            {{!-- luck : Best/Worst --}}
            <div class="flexrow best-worst">
                <div class="title">{{localize "cats.dice.dice_picker.luck.keep"}}</div>
                <div class="flexrow">
                    <div class="sliders best-worst">
                        <div class="choices right-align">{{localize "cats.dice.dice_picker.luck.best"}}</div>
                        <label class="switch">
                            <input type="checkbox" name="luck.worstDieSelected" value="{{object.luck.worstDieSelected}}" {{checked object.luck.worstDieSelected}}>
                            <span class="slider round"></span>
                        </label>
                        <div class="choices left-align">{{localize "cats.dice.dice_picker.luck.worst"}}</div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Bonuses --}}
        <div class="bonuses">
            <h2>{{localize "cats.dice.dice_picker.bonuses.title"}}</h2>

            {{!-- User --}}
            <div class="flexrow user-bonus">
                <div class="title">{{localize "cats.dice.dice_picker.custom"}}</div>
                <div class="flexrow radio-toolbar">
                    {{#times 6 0}}
                        {{> 'systems/cats-la-mascarade/templates/dice/radio-toolbar.html'
                            unqIndex=../unqIndex
                            name="modifiers.userBonus"
                            iteratorValue=this
                            objectValue=../object.modifiers.userBonus
                            color="green"
                            symbol="+"
                        }}
                    {{/times}}
                </div>
            </div>
        </div>

        {{!-- Malus --}}
        <div class="malus">
            <h2>{{localize "cats.dice.dice_picker.malus.title"}}</h2>

            {{!-- User --}}
            <div class="flexrow user-malus">
                <div class="title">{{localize "cats.dice.dice_picker.custom"}}</div>
                <div class="flexrow radio-toolbar">
                    {{#times 6 0}}
                        {{> 'systems/cats-la-mascarade/templates/dice/radio-toolbar.html'
                            unqIndex=../unqIndex
                            name="modifiers.userMalus"
                            iteratorValue=this
                            objectValue=../object.modifiers.userMalus
                            color="red"
                            symbol="-"
                        }}
                    {{/times}}
                </div>
            </div>


            {{!-- Injuries (auto) --}}
            <div class="flexrow injuries">
                <div class="title">{{localize 'cats.actor_sheet.injury_levels.title'}}</div>
                <div class="modifier">
                    {{injuryLevelRollModifier}}
                </div>
            </div>

            {{!-- Critics display --}}
            <div class="flexrow surprise">
                <div class="title">{{localize "cats.actor_sheet.critics"}}</div>
                <div class="">{{localize "cats.actor_sheet.experience.failures"}}</div>
                <div class="flexrow numeric-scrolling-bar grow">
                    {{#times 11 0}}
                        {{#if this}}
                            {{#ifCond this '<=' ../criticFailureValue}}
                                <div class="square w20 red">{{this}}</div>
                            {{else}}
                                <div class="square w20 {{#ifCond ../injuryDisplay10 '&&' (ifCond this '==' 10)}}green{{else}}thin{{/ifCond}}">{{this}}</div>
                            {{/ifCond}}
                        {{/if}}
                    {{/times}}
                </div>
                {{#ifCond criticFailureValue '==' 1}}
                <div class="">{{localize "cats.actor_sheet.experience.successes"}}</div>
                {{/ifCond}}
            </div>
        </div>

        {{!-- Total Modifier --}}
        <div class="malus">
            <h2>{{localize "cats.dice.dice_picker.total.title"}}</h2>

            {{!-- Modifier --}}
            <div class="flexrow total-modifier">
                <div class="title">{{localize 'cats.dice.dice_picker.total.modifier'}}</div>
                <div class="modifier">
                    {{totalRollModifier}}
                </div>
            </div>
        </div>


        {{!-- Buttons --}}
        <div class="buttons">
            <button class="roll" name="roll" type="submit" {{#if disableSubmit}}disabled{{/if}}>{{localize 'cats.dice.dice_picker.roll_label'}} <i class='fas fa-arrow-circle-right'></i></button>
        </div>
    </section>
</form>