<div>
    <input type="radio" id="{{unqIndex}}_{{name}}_{{iteratorValue}}" name="{{name}}" value="{{iteratorValue}}" {{#ifCond objectValue "==" iteratorValue}}checked="checked"{{/ifCond}} />
    <label for="{{unqIndex}}_{{name}}_{{iteratorValue}}" class="{{color}}">{{#if iteratorValue}}{{symbol}}{{/if}}{{iteratorValue}}</label>
</div>