<form class="{{cssClass}}" autocomplete="off">
    <header class="header flexrow">
        {{!-- Actor --}}
        <div class="profile actor">
            <img class="profile-img"
                 src="{{#if actor.img}}{{actor.img}}{{else}}icons/svg/mystery-man.svg{{/if}}"
                 alt="{{#if actor.name}}{{actor.name}}{{else}}mystery-man{{/if}}"
            />
            <div>{{#if actor.name}}{{actor.name}}{{else}}mystery-man{{/if}}</div>
        </div>

        {{!-- Item (Talent) --}}
        <div class="profile item">
            <img class="profile-img show-item-tooltip" data-uuid="{{item.uuid}}" src="{{item.img}}" alt="{{item.name}}"/>
            <div>{{item.name}}</div>
        </div>

        {{!-- Target --}}
        {{#if target.texture.src}}
            <div class="profile target">
                <img class="profile-img" src="{{target.texture.src}}" alt="{{target.name}}"/>
                <div>{{target.name}}</div>
            </div>
        {{/if}}
    </header>

    <section class="content flexcol">
        {{!-- Rank --}}
        <div class="rank-choice">
            <h2>{{localize 'cats.items_sheet.rank'}}</h2>

            <div class="flexrow radio-toolbar">
                {{#times item.system.rank 1}}
                    {{#if this}}
                        {{> 'systems/cats-la-mascarade/templates/dice/radio-toolbar.html'
                            unqIndex=../unqIndex
                            name="rank"
                            iteratorValue=this
                            objectValue=../object.rank
                            color="green"
                            symbol=""
                        }}
                    {{/if}}
                {{/times}}
            </div>
        </div>

        <div class="gauges flexrow">
            {{!-- Injury Level --}}
            <div class="talent-levels">
                <h3>{{localize 'cats.actor_sheet.injury_levels.title'}}</h3>

                <div class="flexrow flex-align-self numeric-scrolling-bar grow">
                    {{#times gauges.injury.config.numeric 1}}
                        {{#ifCond this '>' ../gauges.injury.value}}
                            <div class="square thin">{{this}}</div>
                        {{else}}
                            <div class="square {{#ifCond this '>' 0}}red{{/ifCond}}">{{this}}</div>
                        {{/ifCond}}
                    {{/times}}
                    <i class="{{#ifCond gauges.injury.value '>=' gauges.injury.config.unconscious}}fa-solid fa-bed text-red{{else}}fa-thin fa-bed{{/ifCond}} pointer" title="{{localize 'cats.actor_sheet.injury_levels.unconsciousness'}}"></i>
                    <i class="{{#ifCond gauges.injury.value '>=' gauges.injury.config.coma}}fa-solid fa-bed-pulse text-red{{else}}fa-thin fa-bed-pulse{{/ifCond}} pointer" title="{{localize 'cats.actor_sheet.injury_levels.coma'}}"></i>
                    <i class="{{#ifCond gauges.injury.value '>=' gauges.injury.config.death}}fa-solid fa-skull text-red{{else}}fa-thin fa-skull{{/ifCond}} pointer" title="{{localize 'cats.actor_sheet.injury_levels.death'}}"></i>
                </div>
            </div>

            {{!-- Talent Level --}}
            <div class="talent-levels">
                <h3>{{localize 'cats.actor_sheet.talent.levels_used'}} ({{gauges.talent.value}})</h3>

                <div class="flexrow numeric-scrolling-bar grow">
                    {{#each gauges.talent.fatigueBarValues as |level index|}}
                        <div class="square w20 {{#ifCond level '==' 0}}thin{{else}}{{#ifCond level '===' null}}blank{{/ifCond}}{{/ifCond}} {{#ifCond index '==' 5}}{{#ifCond level '==' 0}}green{{else}}red{{/ifCond}}{{/ifCond}}">{{level}}</div>
                    {{/each}}
                </div>
            </div>
        </div>

        <p></p>

        {{!-- Buttons --}}
        <div class="buttons">
            <button class="roll" name="roll" type="submit" {{#if disableSubmit}}disabled{{/if}}>{{localize 'cats.dice.talent_picker.use_talent'}} <i class='fas fa-arrow-circle-right'></i></button>
        </div>
    </section>
</form>