<div class="cats dice-roll">
    {{!-- Profil / Item / Target --}}
    {{#if showProfilSection}}
        {{> 'systems/cats-la-mascarade/templates/dice/chat-profil.html'}}
    {{/if}}

    {{!-- Rank usage --}}
    <div class="dice-result">
        <h4 class="dice-total cats total">{{cats.item.name}}</h4>
        <h4 class="dice-total cats difficulty-level">{{localize (localize 'cats.dice.talent_picker.rank_n' rank=rankUsed)}}</h4>
    </div>
</div>
