<form class="{{cssClass}}" autocomplete="off">
    {{#ifCond data.aggressor.actor.id '||' data.defendant.actor.id}}
    <table>
        <thead>
        <tr>
            <th class="headers type"></th>
            <th class="headers img"></th>
            <th class="headers name">{{localize 'cats.actor_sheet.identity.name'}}</th>
            <th class="headers dice">{{localize 'Roll Formula'}}</th>
            <th class="headers difficulty">{{localize 'cats.dice.difficulty.title'}}</th>
            <th class="headers delete"></th>
        </tr>
        </thead>
        <tbody>
        {{#with data.aggressor}}
        <tr>
            <th class="headers aggressor">{{localize 'cats.gm_duel.aggressor'}}</th>

            <td class="center"><img {{^if actor.isToken}}data-actor-uuid="{{actor.uuid}}" draggable="true"{{/if}}
                class="profile actor-profile {{^if actor.isToken}}dragndrop-actor-uuid grab{{/if}}"
                title="{{actor.name}}"
                src="{{actor.img}}"
                alt="{{actor.name}}"
            ></td>

            <td><a data-uuid="{{actor.uuid}}" class="open-sheet-from-uuid">{{actor.name}}</a></td>

            <td class="center">
                <a class="ability-name" data-actor-uuid="{{actor.uuid}}" data-id="pad" title="{{localize 'cats.actor_sheet.attributes.pad_sub'}}">
                    {{localize 'cats.actor_sheet.attributes.pad'}} ({{roll}}{{#if reputation}} +{{reputation}}{{/if}})
                </a>
                {{#if actor.hasPlayerOwnerActive}}
                    <a class="open-user-dp" data-actor-uuid="{{actor.uuid}}" data-id="pad" title="{{localize 'cats.gm_duel.send_dp'}}">
                        <i class="fa-solid fa-share"></i>
                    </a>
                {{/if}}
            </td>

            <td class="center">
                {{#if targetDifficulty}}
                    {{targetDifficulty}}
                {{else}}
                    -
                {{/if}}
            </td>

            <td class="center">
                {{#if actor.uuid}}
                    <span data-actor-uuid="{{actor.uuid}}" class="actor-remove-control pointer" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></span>
                {{/if}}
            </td>
        </tr>
        {{/with}}
        {{#with data.defendant}}
            <tr>
                <th class="headers defendant">{{localize 'cats.gm_duel.defendant'}}</th>

                <td class="center"><img {{^if actor.isToken}}data-actor-uuid="{{actor.uuid}}" draggable="true"{{/if}}
                    class="profile actor-profile {{^if actor.isToken}}dragndrop-actor-uuid grab{{/if}}"
                    title="{{actor.name}}"
                    src="{{actor.img}}"
                    alt="{{actor.name}}"
                ></td>

                <td><a data-uuid="{{actor.uuid}}" class="open-sheet-from-uuid">{{actor.name}}</a></td>

                <td class="center">
                    <a class="ability-name" data-actor-uuid="{{actor.uuid}}" data-id="caress" title="{{localize 'cats.actor_sheet.attributes.caress_sub'}}">
                        {{localize 'cats.actor_sheet.attributes.caress'}} ({{roll}}{{#if reputation}} +{{reputation}}{{/if}})
                    </a>
                    {{#if actor.hasPlayerOwnerActive}}
                        <a class="open-user-dp" data-actor-uuid="{{actor.uuid}}" data-id="caress" title="{{localize 'cats.gm_duel.send_dp'}}">
                            <i class="fa-solid fa-share"></i>
                        </a>
                    {{/if}}
                </td>

                <td class="center">
                    {{#if targetDifficulty}}
                        {{targetDifficulty}}
                    {{else}}
                        -
                    {{/if}}
                </td>

                <td class="center">
                    {{#if actor.uuid}}
                        <span data-actor-uuid="{{actor.uuid}}" class="actor-remove-control pointer" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></span>
                    {{/if}}
                </td>
            </tr>
        {{/with}}
        </tbody>
    </table>
    {{else}}
    <div class="no-actors">
        {{{localize 'cats.gm_monitor.no_actors'}}}
    </div>
    {{/ifCond}}
</form>