<form class="{{cssClass}}" autocomplete="off">
    {{^if data.actors}}
        <div class="no-actors">
            {{{localize 'cats.gm_monitor.no_actors'}}}
        </div>
    {{else}}
    <table>
        <thead>
        <tr>
            <th class="headers-img"></th>
            <th class="headers-name">{{localize 'cats.actor_sheet.identity.name'}}</th>
            <th class="headers-lineage_faction">{{localize 'cats.actor_sheet.species.title'}} / {{localize 'cats.actor_sheet.identity.lineage'}} / {{localize 'cats.actor_sheet.identity.faction'}}</th>

            <th class="headers-reputation">{{localize 'cats.actor_sheet.identity.reputation'}}</th>
            <th class="headers-lives">{{localize 'cats.actor_sheet.identity.nine_lives'}}</th>
            <th class="headers-talent-lvl">{{localize 'cats.actor_sheet.talent.levels_used'}}</th>
            <th class="headers-injury-lvl">{{localize 'cats.actor_sheet.injury_levels.title'}}</th>

            <th class="headers-advantages">{{localize 'cats.actor_sheet.advantages'}} / {{localize 'cats.actor_sheet.disadvantages'}}</th>
            <th class="headers-talents">{{localize 'cats.actor_sheet.talent.title'}}</th>
            <th class="headers-actions"></th>
        </tr>
        </thead>
        <tbody>
        {{#each data.actors as |actor|}}
        <tr>
            <td class="center"><img {{^if actor.isToken}}data-actor-uuid="{{actor.uuid}}" draggable="true"{{/if}}
                class="profile actor-profile {{^if actor.isToken}}dragndrop-actor-uuid grab{{/if}}"
                title="{{actor.name}}"
                src="{{actor.img}}"
                alt="{{actor.name}}"
            ></td>
            <td><a data-uuid="{{actor.uuid}}" class="open-sheet-from-uuid">{{actor.name}}</a></td>
            <td>
                <ul>
                    <li {{#if actor.splitItems.cat_breed.uuid}}class="show-item-tooltip" data-uuid="{{actor.splitItems.cat_breed.uuid}}"{{/if}}>
                        {{localize (localize 'cats.actor_sheet.species.{specie}' specie=actor.system.specie)}}
                        {{#if actor.system.identity.breed}} ({{actor.system.identity.breed}}){{/if}}
                    </li>
                    {{#if actor.system.identity.lineage}}<li>{{actor.system.identity.lineage}}</li>{{/if}}
                    {{#if actor.system.identity.faction}}<li {{#if actor.splitItems.faction.uuid}}class="show-item-tooltip" data-uuid="{{actor.splitItems.faction.uuid}}"{{/if}}>{{actor.system.identity.faction}}</li>{{/if}}
                </ul>
            </td>

            <td class="center">
                <a title="{{localize 'cats.actor_sheet.gauges_modifier'}}" data-actor-uuid="{{actor.uuid}}" data-type="reputation" class="actor-modify-control">
                    {{actor.system.identity.reputation}}
                </a>
            </td>
            <td class="center">
                <a title="{{localize 'cats.actor_sheet.gauges_modifier'}}" data-actor-uuid="{{actor.uuid}}" data-type="nine_lives" class="actor-modify-control {{#ifCond actor.system.gauges.nine_lives.value "<=" 2}}red{{/ifCond}}">
                    {{actor.system.gauges.nine_lives.value}}
                </a>
            </td>
            <td class="center">
                <a title="{{localize 'cats.actor_sheet.gauges_modifier'}}" data-actor-uuid="{{actor.uuid}}" data-type="talent_levels" class="actor-modify-control">
                    {{actor.system.gauges.talent_levels_used.value}} (<span class="{{#ifCond (actor.talentModifier) "<" 0}}red{{/ifCond}}">{{actor.talentModifier}}</span>)
                </a>
            </td>
            <td class="center">
                <a title="{{localize 'cats.actor_sheet.gauges_modifier'}}" data-actor-uuid="{{actor.uuid}}" data-type="injury_level" class="actor-modify-control">
                    {{actor.system.gauges.injury_level.value}} / {{actor.system.gauges.injury_level.max}}
                    {{#if actor.isUnconscious}}
                        <i class="fa-solid fa-bed text-red" title="{{localize 'cats.actor_sheet.injury_levels.unconsciousness'}}"></i>
                    {{/if}}
                    {{#if actor.isInComa}}
                        <i class="fa-solid fa-bed-pulse text-red" title="{{localize 'cats.actor_sheet.injury_levels.coma'}}"></i>
                    {{/if}}
                    {{#if actor.isDead}}
                        <i class="fa-solid fa-skull text-red" title="{{localize 'cats.actor_sheet.injury_levels.death'}}"></i>
                    {{/if}}
                </a>
            </td>

            <td>
                <ul>
                {{#each actor.splitItems.advantage as |item|}}
                    <li class="show-item-tooltip {{#ifCond item.system.advantage_type "==" "advantage"}}green{{else}}red{{/ifCond}}" data-uuid="{{item.uuid}}">{{item.name}}</li>
                {{/each}}
                </ul>
            </td>
            <td>
                <ul>
                {{#each actor.splitItems.talent as |item|}}
                    <li class="show-item-tooltip" data-uuid="{{item.uuid}}">{{item.name}} <small>({{item.system.rank}})</small></li>
                {{/each}}
                </ul>
            </td>

            <td><span data-actor-uuid="{{actor.uuid}}" class="actor-remove-control pointer" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></span></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
    {{/if}}
</form>