<li class="item flexcol" data-item-id="{{item._id}}">
    <ul class="item-header item-control flexrow">
        <li class="item-img"><img src="{{item.img}}" title="{{item.name}}" width="32px" height="32px"/></li>
        <li class="item-name show-item-tooltip skill-name {{#ifCond item.system.usable_by 'usableBy' @root.data.system.specie}}{{#ifCond item.system.omega '&&' (ifCond item.system.rank '<' 1)}}omega-no-rank{{/ifCond}}{{else}}not-usable{{/ifCond}}"
            data-id="{{item._id}}"
            data-uuid="{{item.uuid}}"
        >
            {{item.name}} {{#if item.system.omega}}({{localize 'cats.items_sheet.omega'}}){{/if}}
        </li>
        <li class="item-base">
            {{#if item.system.formula_valid}}
                {{item.system.base}}
            {{else}}
                <i class="fa-solid fa-triangle-exclamation" title="{{localize 'cats.items_sheet.invalid_formula'}}"></i>
            {{/if}}
        </li>

        <li class="item-rank"><input
            class="skill-score select-on-focus"
            type="number"
            name="itemsValues.{{item._id}}"
            value="{{item.system.rank}}"
            data-dtype="Number"
            min="0"
            max="5"
            {{^if editable}}disabled{{/if}}
        /></li>

        <li class="item-total">
            <h4 class="total {{^if editable}}not-editable{{/if}}">{{sum item.system.base item.system.rank}}</h4>
            {{#if editable}}
                <span class="action pointer">
                    <i data-item-id="{{item._id}}" class="item-edit fas fa-edit" title="{{localize 'cats.global.edit'}}"></i>
                    <i data-item-id="{{item._id}}" class="item-delete fas fa-trash" title="{{localize 'Delete'}}"></i>
                </span>
            {{/if}}
        </li>
    </ul>
</li>