<div class="{{cssClass}}" data-actor-id="{{actor._id}}" data-item-id="{{data._id}}">
    <header class="card-header">
        <h2 class="item-name"><img src="{{data.img}}" title="{{data.name}}" /> {{data.name}}</h2>
    </header>
    <section class="sheet-body">
        {{!-- Usable By --}}
        <p><strong>{{localize 'cats.items_sheet.usable_by'}}</strong> : {{localizeUsableBy data.system.usable_by}}</p>

        <ul>
            <li>
                <strong>{{localize 'cats.items_sheet.omega'}}</strong> : {{localizeYesNo data.system.omega}}
            </li>
            {{!--item-value--}}
            <li>
                <strong>{{localize 'cats.items_sheet.formula'}} </strong> : {{data.system.formula}}
            </li>
            <li>
                <strong>{{localize 'cats.items_sheet.base'}}</strong> : {{data.system.base}}
            </li>
            <li>
                <strong>{{localize 'cats.items_sheet.rank'}}</strong> : {{data.system.rank}}
            </li>
            <li>
                <strong>{{localize 'cats.items_sheet.modifier'}}</strong> : {{data.system.modifier}}
            </li>
        </ul>

        {{!-- Description + Reference --}}
        <p><strong>{{localize 'cats.items_sheet.description'}}</strong> : {{{data.enrichedHtml.description}}}</p>
        <p><strong>{{localize 'cats.items_sheet.book_reference'}}</strong> : {{data.system.book_reference}}</p>
    </section>
</div>
