<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}"/></h1>
    </header>
    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <article class="attributes" data-group="primary" data-tab="attributes">
            <div class="flexrow align-center">
                {{!-- Usable By --}}
                {{> 'systems/cats-la-mascarade/templates/items/item/item-usable-by.html'}}

                <fieldset>
                    <legend class="text-block-header" data-tooltip="{{localize 'cats.items_sheet.formula_hint'}}">{{localize 'cats.items_sheet.formula'}}</legend>
                    <input class="select-on-focus" type="text" name="system.formula" value="{{data.system.formula}}" data-dtype="String"/>
                </fieldset>
            </div>

            <div class="flexrow align-center">
                <fieldset>
                    <legend class="text-block-header">{{localize 'cats.items_sheet.base'}}</legend>
                    {{#if data.system.formula_valid}}
                        <input class="select-on-focus" type="number" name="system.base" value="{{data.system.base}}" data-dtype="Number" min="1" max="5" disabled/>
                    {{else}}
                        <i class="fa-solid fa-triangle-exclamation" title="{{localize 'cats.items_sheet.invalid_formula'}}"></i>
                    {{/if}}
                </fieldset>

                <fieldset>
                    <legend class="text-block-header">{{localize 'cats.items_sheet.rank'}}</legend>
                    <input class="select-on-focus" type="number" name="system.rank" value="{{data.system.rank}}" data-dtype="Number" min="0" max="5"/>
                </fieldset>

                <fieldset class="attribute-value checkbox">
                    <legend class="text-block-header">{{localize 'cats.items_sheet.omega'}}</legend>
                    <label><input type="checkbox" name="system.omega" {{checked data.system.omega}}/> <span class="omega-text">{{localize 'cats.items_sheet.omega_text'}}</span></label>
                </fieldset>

                <fieldset>
                    <legend class="text-block-header">{{localize 'cats.items_sheet.modifier'}}</legend>
                    <input class="select-on-focus" type="text" name="system.modifier" value="{{data.system.modifier}}" data-dtype="String"/>
                </fieldset>
            </div>

            {{!-- Description + Reference --}}
            {{> 'systems/cats-la-mascarade/templates/items/item/item-infos.html'}}
        </article>
    </section>
</form>
