/** Global Cats! colors **/
$dark-blue: hsl(213, 49%, 35%);
$dark-gold: #CC9933;
$darker-gold: #936d20;
$blue-grey: hsl(192, 24%, 42%);
$blue: hsl(203, 35%, 26%);
$dark: hsl(72, 29%, 7%);
$shadow-primary: #CC9933;
$shadow-highlight: #FFCC99;
$border-highlight: #FFCC99;
$border-highlight-alt: #CC9933;

// Sheets
$computed-background-color: #D6D6D6FF;
$input-background-color: #F5F5F5FF;
$input-background-color-with-transparency: transparentize($input-background-color, 0.5);
