/** Fonts **/

// Fonts Faces
@font-face {
    font-family: 'Bellerose';
    src: url('../fonts/bellerose.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Garto16';
    src: url('../fonts/garto16.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// Fonts sizes
$xlarge: 2em;
$large: 1.4em;
$bigger: 1.2em;
$normal: 1em;
$small: 0.8em;
$smaller: 0.7em;
$xsmall: 0.5em;
