/** Global **/

::-webkit-scrollbar-thumb{
    background: $shadow-primary;
}

body {
    background-image: url(../assets/imgs/cats-roofs-galaxy.webp);
    background-size: cover;
}

img {
    border: 2px solid $shadow-primary;
    border-radius: 6px;
}

// Pointer class for link on li/i
.pointer {
    cursor: pointer;
}

.grab {
    cursor: grab;
}

.hide {
    display: none !important;
    visibility: hidden;
}

// Links
a[href],
a.nue-tab,
a.nue-action {
    color: $dark-gold;
    text-decoration: underline;
}

a:hover {
    text-shadow: 0 0 8px #be702c;;
}

h3.nue {
    color: $blue;
    padding: 0;
    border-top: 1px solid $dark-gold;
    border-bottom: 1px solid $dark-gold;
}

.footer.nue {
    border-top: 1px solid $dark-gold;
}


// Validators check on inputs
input {
    .number-value:invalid + span:after {
        content: '✖';
        padding-left: 5px;
    }

    .number-value:valid + span:after {
        content: '✓';
        padding-left: 5px;
    }
}
