/** Character Sheets **/
&.character {
    min-height: 400px;
    min-width: 600px;

    ul,
    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        list-style-type: none;
        padding: 2px;
    }

    .sheet-header {
        align-items: flex-start;
        flex-direction: column;

        .identity-section {
            width: 100%;

            // .sheet-profile
            img {
                flex: 0 0 125px;
                width: 125px;
                height: 125px;
                object-fit: contain;
                object-position: 50% 0;
                border: 2px solid $shadow-primary;
                padding: 2px 0;
            }

            .soft-lock {
                flex: 0 0 12px;
            }

            .identity-wrapper {
                display: flex;
                flex: 1;
                flex-direction: column;

                h1 input {
                    margin: 0;
                    width: 100%;
                }

                section {
                    margin-bottom: 6px;
                }

                .identity {
                    .identity-element {
                        margin: 4px;
                    }

                    .lives {
                        flex: 0 0 164px;
                    }

                    .injuries {
                        z-index: +1;
                    }

                    .injuries,
                    .talent-levels {
                        text-align: center;

                        .talent-values {
                            align-items: center;

                            i {
                                flex: 0 0 20px;
                                cursor: pointer;
                            }
                        }
                    }

                    // Gauges
                    .flex-align-self {
                        align-self: flex-start;

                        * {
                            margin: 1px;
                        }
                    }

                    .flex-align-center {
                        align-self: center;
                    }
                }
            }
        }

        .attributes-section {
            margin: auto;

            .attributes-wrapper {
                min-width: 578px;
                max-width: 578px;

                h2 {
                    text-align: center;
                }

                .flex-sixth {
                    flex: 0 0 16.66666667%;
                    max-width: 16.66666667%;
                }

                .flex-third {
                    flex: 0 0 33.33333333%;
                    max-width: 33.33333333%;
                }

                .attributes-element {
                    align-content: flex-end;
                    margin: 0;
                    padding: 0;
                    font-family: 'Bellerose', var(--font-primary);
                    font-size: 12px;
                    font-weight: 700;

                    &.attributes-title {
                        font-family: 'Modesto Condensed', serif;
                        align-content: center;
                        top: -30px;
                        position: relative;
                    }

                    .ability {
                        text-align: center;
                        position: relative;
                        border: 5px solid $darker-gold;
                        border-radius: 100px;
                        aspect-ratio: 1;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;

                        // Bastet +4
                        &.add-label-bastet:before {
                            font-family: 'Modesto Condensed', var(--font-primary);
                            position: absolute;
                            right: 0.4rem;
                            bottom: 1.3rem;
                            content: '(+4)';
                        }

                        // Human +5
                        &.add-label-human:before {
                            font-family: 'Modesto Condensed', var(--font-primary);
                            position: absolute;
                            right: 0.4rem;
                            bottom: 1.3rem;
                            content: '(+5)';
                        }

                        .ability-name {
                            text-align: center;
                            margin: unset;
                            font-size: $bigger;
                            overflow: hidden;
                            cursor: pointer;
                            color: var(--color-text-dark-primary);
                        }

                        input.ability-score {
                            font-family: 'Bellerose', var(--font-primary);
                            height: 36px;
                            width: 36px;
                            margin: 0 auto;
                            font-size: $xlarge;
                            padding-bottom: 28px;
                            border: none;
                            background: unset;
                        }

                        // To make some variations
                        &.no-border-left {
                            border-left: unset;
                        }

                        &.no-border-right {
                            border-right: unset;
                        }

                        &.no-border-top {
                            border-top: unset;
                        }

                        &.no-border-bottom {
                            border-bottom: unset;
                        }
                    }
                }

                .bottom {
                    top: -20px;
                    position: relative;

                    .paw {
                        .label {
                            font-size: $xlarge;
                            color: $dark-gold;
                        }

                        div:nth-child(1) {
                            left: 45px;
                            border-top: unset;
                            border-right: unset;
                        }

                        div:nth-child(2) {
                            top: -31px;
                            border-bottom: unset;
                            border-left: unset;
                            border-right: unset;
                        }

                        div:nth-child(3) {
                            left: -45px;
                            border-top: unset;
                            border-left: unset;
                        }
                    }
                }
            }
        }
    }

    .sheet-body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .sheet-tabs {
            font-family: "Modesto Condensed", "Palatino Linotype", serif;
            color: $shadow-primary;
            border: none;
            font-size: $large;

            .item {
                &.active {
                    text-shadow: none;
                    border-left: 1px solid $darker-gold;
                    border-right: 1px solid $darker-gold;
                    border-radius: 100px;
                }

                &:hover {
                    text-shadow: none;
                }
            }
        }

        fieldset {
            border: 1px solid $shadow-primary;
            margin-bottom: 8px;

            legend {
                color: $dark-gold;
            }
        }

        .skills-wrapper,
        .equipment-wrapper {
            flex-flow: wrap;

            img {
                width: 32px;
                height: 32px;
                object-fit: contain;
                object-position: 50% 0;
                border: none;
                padding: 2px 0;
            }

            input {
                text-align: center;
            }

            .item-header {
                flex: 6;
                align-items: center;

                h4 {
                    margin: 0;
                }

                .omega-no-rank {
                    text-decoration: line-through;
                }

                .not-usable {
                    text-decoration-line: line-through;
                    text-decoration-style: double;
                }

                .item-img {
                    flex: 0 0 32px;
                }

                .skill-name,
                .talent-name {
                    cursor: pointer;
                }

                .item-base,
                .item-rank {
                    flex: 0 0 32px;
                    text-align: center;
                }

                .item-injury-levels,
                .item-range,
                .item-splash {
                    flex: 0 0 60px;
                    text-align: center;
                }

                .item-edit,
                .item-delete {
                    flex: 0 0 20px;
                }

                .item-total {
                    flex: 0 0 32px;
                    text-align: center;

                    .total {
                        display: block;
                    }
                    .action {
                        display: none;
                    }
                }

                &:hover {
                    .total:not(.not-editable) {
                        display: none;
                    }
                    .action {
                        display: block;
                    }
                }
            }
        }

        .narrative-wrapper {
            .narrative-element {
                margin: 4px;

                &.age {
                    flex: 0 0 40px;
                    text-align: center;
                }

                &.breed,
                &.faction {
                    .golden-bottom-border {
                        border-bottom: 2px solid $shadow-primary;
                    }

                    .action {
                        flex: 0 0 40px;

                        .item-edit,
                        .item-delete {
                            flex: 0 0 20px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .experience-wrapper {
            .experience-element {
                margin: 4px;
                text-align: center;
            }
        }
    }
}