/** Common CSS for Sheets **/

&.app,
&.sheet {
    .window-content {
        background-image: unset;
        background-color: whitesmoke;
        // background: url("../assets/ui/denim.webp") repeat;
        background-size: cover;
        background-origin: padding-box;

        // Titles overrides
        h1,
        h2,
        h3,
        h4 {
            color: $dark-gold;
            border-color: $dark-gold;
        }

        input {
            background-color: $input-background-color-with-transparency;
            padding: 1px 3px;
            margin: 0;
            //color: $dark-gold;
            border-radius: 0;
            border: unset;
            border-bottom: 2px solid $shadow-primary;
        }
        input[type="checkbox"] {
            cursor: pointer;
        }

        select {
            background: $input-background-color-with-transparency;
            border: unset;
            border-bottom: 2px solid $shadow-primary;
            border-radius: 0;
            padding: 0 3px;
            //color: $dark-gold;
            &:not([disabled]) {
                cursor: pointer;
            }
        }

        label {
            color: $dark-gold;
        }

        .editor,
        .tox-tinymce {
            height: 100%;
            min-height: 220px;
        }

        // Reveal action only on hover
        .action {
            visibility: hidden;
        }
        .item-control:hover {
            .action {
                visibility: visible;
                text-align: center;
                font-size: $small;
            }
        }

        .profile-img {
            cursor: pointer;
        }

        .numeric-scrolling-bar {
            text-align: center;

            .square {
                width: 14px;
                height: 14px;
                min-width: 14px;
                max-width: 14px;
                min-height: 14px;
                background-color: var(--color-text-dark-primary);
                box-sizing: border-box;
                border: 1px solid var(--color-text-dark-primary);
                border-radius: 20%;
                padding-top: 1px;
                margin: 1px;
                color: var(--color-text-light-1);
                font-size: 0.6rem;
                font-family: fangsong;
                cursor: pointer;

                &.w20 {
                    width: 20px;
                    max-width: 20px;
                }

                &.blank {
                    background-color: unset;
                    border: none;
                    cursor: unset;
                }

                &.thin {
                    color: var(--color-text-dark-primary);
                    background-color: unset;
                    border: 1px solid var(--color-text-dark-primary);
                }

                &.red {
                    background-color: darkred;
                }

                &.green {
                    color: var(--color-text-light-1);
                    background-color: darkgreen;
                }
            }
        }

        .text-red {
            color: darkred;
        }

        .text-green {
            color: darkgreen;
        }


        // Autocompletes fields
        .autocomplete-wrapper {
            position: relative;
            display: inline-block;

            .autocomplete-list {
                position: absolute;
                border: 1px solid #6e7e6b;
                border-bottom: none;
                border-top: none;
                z-index: 99;
                top: 100%;
                left: 0;
                right: 0;
            }
            .autocomplete-list div {
                padding: 10px;
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #6e7e6b;
                text-align: left;
            }
            .autocomplete-list div:hover {
                background-color: #e9e9e9;
            }
            .autocomplete-active {
                background-color: DodgerBlue !important;
                color: #ffffff;
            }
        }
    }
}