/** Item Sheets **/
&.sheet-dice-dialog {
    // Dice Picker
    &.dice-picker-dialog,
    &.talent-picker-dialog {
        .header {
            align-items: center;
            text-align: center;

            .profile-img {
                width: 70px;
                height: 70px;
                object-fit: contain;
                object-position: 50% 0;
                border: none;
                padding: 2px 0;
                cursor: unset;
            }
        }

        .content {
            & > div > div {
                padding: 4px 0;
            }

            h2 {
                margin-top: 10px;
            }

            .flexrow {
                align-items: center;
            }

            .title {
                font-size: 16px;
                flex: 0 0 120px
            }

            .modifier {
                font-size: x-large;
            }

            .right-align {
                text-align: right;
            }

            .left-align {
                text-align: left;
            }

            .dice-img {
                border: none;
                height: 30px;
                transform: rotate(340deg);

                &.added {
                    transform: rotate(30deg);
                }
            }

            .gauges {
                text-align: center;

                * {
                    justify-content: center;
                }
            }

            // Unset the pointer for critics view (no action)
            .numeric-scrolling-bar {
                i {
                    cursor: unset;
                    max-width: 20px;
                }

                .square {
                    cursor: unset;
                }
            }

            .grow {
                flex-grow: 3;
            }

            .roll {
                background-color: #a98f5a54;
            }

            // Switch/Slide
            .sliders {
                display: contents;

                .choices {
                    padding: 0 8px;
                }

                // The switch - the box around the slider
                .switch {
                    position: relative;
                    display: inline-block;
                    height: 1.8em;
                    flex: 0 0 3.7em;

                    // Hide default HTML checkbox
                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
                }

                // The slider
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #2e6635;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;

                    &:before {
                        position: absolute;
                        content: "";
                        height: 1.25em;
                        width: 1.25em;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                    }
                }

                input:checked + .slider {
                    background-color: #e50b28;
                }

                input:focus + .slider {
                    box-shadow: 0 0 1px #e50b28;
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }

                // Rounded sliders
                .slider {
                    &.round {
                        border-radius: 1em;

                        &:before {
                            border-radius: 50%;
                        }
                    }
                }
            }

            // RadioBoxes in toolbar
            .radio-toolbar {
                div {
                    margin: 0 2px;
                }

                input[type="radio"] {
                    opacity: 0;
                    position: fixed;
                    width: 0;

                    &:focus + label {
                        border: 2px solid #444;
                    }

                    &:checked + label {
                        &.green {
                            background-color: #bfb;
                            border-color: #2e6635;
                        }

                        &.red {
                            background-color: #ffbbbb;
                            border-color: #662e2e;
                        }
                    }
                }

                label {
                    width: 100%;
                    display: inline-block;
                    background-color: #ddd;
                    padding: 10px 20px;
                    font-family: sans-serif, Arial;
                    border: 2px solid #444;
                    border-radius: 4px;
                    text-align: center;
                    color: black;

                    &:hover {
                        cursor: pointer;

                        &.green {
                            background-color: #dfd;
                        }

                        &.red {
                            background-color: #fdd9d9;
                        }
                    }
                }
            }
        }
    }
}
