/** Item Sheets **/
&.sheet-item {
    .window-content {
        //.sheet-header {}
        .sheet-body {
            label {
                color: var(--color-text-dark-primary);
            }

            fieldset {
                border: 1px solid $shadow-primary;

                legend {
                    color: $dark-gold;
                }
            }

            select {
                width: 100%;
            }

            .align-baseline {
                align-items: baseline;
            }

            .align-center {
                text-align: center;
            }

            .omega-text {
                position: relative;
                top: -5px;
            }

            .breed-advantages {
                ul,
                li {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                }
                li {
                    align-items: flex-start;
                    list-style-type: none;
                    padding: 0;
                }

                fieldset {
                    min-height: 68px;
                }

                img {
                    width: 32px;
                    height: 32px;
                    object-fit: contain;
                    object-position: 50% 0;
                    border: none;
                    padding: 2px 0;
                }

                .item-edit,
                .item-delete {
                    flex: 0 0 20px;
                }

                .removed{
                    text-decoration: line-through;
                }

                .item-name {
                    text-align: left;
                    padding: 4px;
                }

                .item-img {
                    flex: 0 0 32px;
                }

                .item-header {
                    align-items: center;
                }
            }
        }
    }
}
