/* All CSS related to User Interface */

// Pause replacement
#pause {
    background: none;

    img {
        content: url("../assets/ui/ying-yang-cats.svg");
        filter: drop-shadow(2px 4px 6px whitesmoke);
    }

    figcaption {
        font-family: 'Garto16', serif;
    }
}

// ** Chat tab (need to be out of interface for chat-popout) **
#chat,
#chat-popout {
    #chat-log {
        .chat-message {
            border-radius: 0 0 5px 5px;
            color: $blue;
            padding: 13px 15px 30px 11px;
            border-width: 0;
            -webkit-box-shadow: 0 1px 5px #000;
            box-shadow: 0 1px 5px #000;
            background-size: 100%;
            background-position: top, bottom, 0 18px;
            background-repeat: no-repeat, no-repeat, repeat;
            background-image: url("../assets/ui/hidden-chat-top.webp"), url("../assets/ui/hidden-chat-bottom.webp"), url("../assets/ui/hidden-chat-middle.webp");

            .message-header {
                line-height: 20px;
                color: $blue;

                .message-metadata {
                    flex: 2;
                    text-align: right;
                }

                .whisper-to {
                    font-size: $bigger;
                }

                .message-sender {
                    font-size: $bigger;
                    padding-left: 20px;
                }
            }

            .message-content {
                p.nue {
                    font-size: $normal;
                    line-height: 1.4;
                    color: $blue;
                }

                .profil {
                    text-align: center;
                    align-items: center;

                    img {
                        height: 64px;

                        &.target {
                            border: 2px solid darkred;
                        }
                    }
                }

                .dice-roll {
                    flex-direction: column;

                    .profil {
                        min-height: 85px;

                        .chat-profil-element {
                            .content-link {
                                background: unset;
                                border: unset;
                                padding: unset;

                                i {
                                    display: none;
                                }
                            }

                            .square {
                                position: relative;
                                left: -14px;
                                top: 1px;
                                display: inline-block;

                                width: 17px;
                                height: 15px;
                                min-width: 17px;
                                min-height: 15px;
                                background-color: var(--color-text-dark-primary);
                                box-sizing: border-box;
                                border: 1px solid var(--color-text-dark-primary);
                                border-radius: 20%;
                                padding-top: 1px;
                                color: var(--color-text-light-1);
                                font-size: 0.6rem;
                                font-family: fangsong;
                                text-align: center;

                                &.red {
                                    background-color: darkred;
                                }

                                &.green {
                                    color: var(--color-text-light-1);
                                    background-color: darkgreen;
                                }
                            }
                        }
                    }

                    // Add border to selected dice
                    .dice-tooltip .dice-rolls {
                        align-items: center;

                        .roll {
                            padding-top: 2px;

                            &.selected {
                                padding-top: 0;
                                border: 2px solid darkgreen;
                                border-radius: 6px;
                            }
                        }
                    }

                    // Sub section for critics roll in chat
                    &.critics {
                        fieldset {
                            border: 1px solid darkgreen;
                            color: darkgreen;

                            &.red {
                                border: 1px solid darkred;
                                color: darkred;
                            }
                        }

                        // override success
                        .dice-result.red {
                            .roll.success {
                                color: #aa0200;
                                filter: sepia(0.5) hue-rotate(-60deg);
                            }
                        }

                        .dice-rolls {
                            list-style: none;
                            margin: 5px 0;
                            padding: 0;
                            overflow: hidden;

                            .roll {
                                position: relative;
                                min-width: 24px;
                                line-height: 24px;
                                float: left;
                                margin-right: 1px;
                                background-image: url(/icons/svg/d6-grey.svg);
                                background-repeat: no-repeat;
                                background-size: 24px 24px;
                                font-size: var(--font-size-16);
                                color: #000;
                                font-weight: bold;
                                text-align: center;

                                &.d10 {
                                    background-image: url(/icons/svg/d10-grey.svg);
                                }

                                &.success,
                                &.max {
                                    color: #18520b;
                                    filter: sepia(0.5) hue-rotate(60deg);
                                }

                                &.failure {
                                    color: #aa0200;
                                    filter: sepia(0.5) hue-rotate(-60deg);
                                }
                            }
                        }
                    }

                    .total {
                        background-color: #a98f5a54;
                    }

                    .difficulty-level {
                        background-color: #ffcc9975;
                        font-family: "Modesto Condensed", serif;

                        &.success {
                            color: darkgreen;
                        }

                        &.failure {
                            color: darkred;
                        }
                    }
                }
            }
        }
    }
}

// UserInterface
#interface {
    // Foundry icon replacement (logo)
    #logo {
        content: url("../assets/ui/cats-fvtt-logo.webp");
        height: 80px;
        width: 100px;
        margin-left: 0.5rem;
        opacity: 0.8;
    }

    // Toolbar
    #controls {
        .scene-control {
            background: rgb(43 57 66 / 50%);
        }
    }

    // *** Right Side Bar ***
    #sidebar {
        // Replace use icon with a cat (eqv "fa fa-cat")
        i.fa-user:before {
            content: "\f6be";
        }
    }
}

// *** Global tooltip ***
.cats-tooltip {
    cursor: pointer;
}

#cats-tooltip-control {
    visibility: hidden;
    min-height: 200px;
    width: 600px;
    height: auto;
    max-height: 100%;
    background-color: whitesmoke;
    font-size: 0.8rem;
    text-align: left;
    border: 0 none;
    border-radius: 0;
    padding: 0.5rem 0.75rem;
    display: block;
    position: absolute;
    z-index: 9999;

    strong {
        color: $darker-gold;
    }

    h2 {
        color: $darker-gold;
        border-color: $darker-gold;
    }

    section > ul {
        display: flex;
        flex-flow: row wrap;
        padding: 0.25rem 0 0.25rem 1rem;

        li {
            flex: 50%;
            padding: 0;
            padding-right: 1rem;
            margin: 0;
            list-style-type: square;
        }
    }

    table {
        padding: 0;
        margin: 0;
        border-collapse: separate; /* Don't collapse */
        border-spacing: 0;
        background: whitesmoke;
    }

    tr > th {
        color: $dark-gold;
        text-shadow: none;
        font-family: 'Modesto Condensed', var(--font-primary);
        border-bottom-color: $shadow-primary;
    }

    th,
    td {
        border: 1px solid #5a6e5a50;
        padding: 0.25em;
    }

    .center {
        text-align: center;
    }

    .bold {
        font-weight: bold;
    }

    &:before {
        z-index: -2;
        content: "";
        position: absolute;
        height: calc(100% + 0.6rem);
        width: calc(100% - 0.65rem);
        border: 1px solid #c3a582;
        border-radius: 0;
        top: -0.35rem;
        left: 0.25rem;
    }

    &:after {
        z-index: -1;
        content: "";
        position: absolute;
        height: calc(100%);
        width: calc(100%);
        border: 1px solid #c3a582;
        border-radius: 0;
        top: -1px;
        left: -1px;
    }

    .goodvalue {
        color: #4e8c69;
    }

    .badvalue {
        color: #ab2a00;
    }
}

// Images in tooltips
.card-header img {
    display: inline-block;
    background: transparent;
    border: 0 none;
    width: 20px;
    margin: 0;
    padding: 0;
}

// GM Monitor
#cats-gm-duel,
#cats-gm-monitor {
    min-height: 170px;
    min-width: 240px;

    .window-content {
        padding: 0;

        form,
        table {
            padding: 0;
            margin: 0;
            border-collapse: separate; /* Don't collapse */
            border-spacing: 0;
        }

        thead tr > th {
            top: 0;
            z-index: 2;
            position: sticky;
            background: whitesmoke;
            color: $dark-gold;
            text-shadow: none;
            font-family: 'Modesto Condensed', var(--font-primary);
            border-bottom-color: $shadow-primary;
        }

        th,
        td {
            border: 1px solid #5a6e5a50;
            padding: 0.25em;
        }

        img {
            border: none;
            min-width: 24px;
            min-height: 24px;
            max-width: 32px;
            max-height: 32px;
        }

        .no-actors {
            text-align: center;
            position: relative;
            top: 44%;
            transform: translateY(-50%);

            p {
                padding: 4px;
            }
        }

        .green {
            color: #006400;
        }

        .red {
            color: #ab2a00;
        }

        .center {
            text-align: center;
        }

        .gauge-element .square {
            width: 14px;
            height: 14px;
            min-width: 14px;
            min-height: 14px;
            background-color: var(--color-text-dark-primary);
            box-sizing: border-box;
            border: 1px solid var(--color-text-dark-primary);
            border-radius: 20%;
            padding-top: 1px;
            margin: 1px;
            color: var(--color-text-light-1);
            font-size: 0.6rem;
            font-family: fangsong;
            text-align: center;

            &.red {
                background-color: darkred;
            }

            &.green {
                color: var(--color-text-light-1);
                background-color: darkgreen;
            }
        }
    }

    // hide "search anywhere" draggable icon
    .window-draggable-handle {
        display: none;
    }
}