<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}" /></h1>
    </header>
    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <article class="attributes flexcol" data-group="primary" data-tab="attributes">
            {{!-- Description + Reference --}}
            {{> 'systems/cats-la-mascarade/templates/items/item/item-infos.html'}}
        </article>
    </section>
</form>