{{!-- Top paw --}}
<div class="flexrow">
    <div class="attributes-element flexrow">
        <div class="flex-sixth"></div>
        <div class="flex-third ability no-border-bottom {{#ifCond data.system.specie "!=" "cat"}}add-label-{{data.system.specie}}{{/ifCond}}">
            <h4 class="ability-name show-item-tooltip" data-id="hair" data-uuid="Compendium.cats-la-mascarade.core-attributes.Item.CatCoreAtt000003">
                {{localize 'cats.actor_sheet.attributes.hair'}}
            </h4>
            <input
                class="ability-score select-on-focus"
                type="number"
                name="system.attributes.hair"
                value="{{data.system.attributes.hair}}"
                data-dtype="Number"
                min="1"
                max="5"
                {{^if data.editable_not_soft_locked}}disabled{{/if}}
            />
        </div>
        <div class="flex-third ability no-border-bottom">
            <h4 class="ability-name show-item-tooltip" data-id="eye" data-uuid="Compendium.cats-la-mascarade.core-attributes.Item.CatCoreAtt000002">
                {{localize 'cats.actor_sheet.attributes.eye'}}
            </h4>
            <input
                class="ability-score select-on-focus"
                type="number"
                name="system.attributes.eye"
                value="{{data.system.attributes.eye}}"
                data-dtype="Number"
                min="1"
                max="{{data.speciesConfig.maxAttributes.eye}}"
                {{^if data.editable_not_soft_locked}}disabled{{/if}}
            />
        </div>
        <div class="flex-sixth"></div>

        <div class="flex-third ability no-border-right {{#ifCond data.system.specie "!=" "cat"}}add-label-{{data.system.specie}}{{/ifCond}}">
            <h4 class="ability-name show-item-tooltip" data-id="claw" data-uuid="Compendium.cats-la-mascarade.core-attributes.Item.CatCoreAtt000001">
                {{localize 'cats.actor_sheet.attributes.claw'}}
            </h4>
            <input
                class="ability-score select-on-focus"
                type="number"
                name="system.attributes.claw"
                value="{{data.system.attributes.claw}}"
                data-dtype="Number"
                min="1"
                max="5"
                {{^if data.editable_not_soft_locked}}disabled{{/if}}
            />
        </div>
        <div class="flex-third"></div>
        <div class="flex-third ability no-border-left">
            <h4 class="ability-name show-item-tooltip" data-id="tail" data-uuid="Compendium.cats-la-mascarade.core-attributes.Item.CatCoreAtt000004">
                {{localize 'cats.actor_sheet.attributes.tail'}}
            </h4>
            <input
                class="ability-score select-on-focus"
                type="number"
                name="system.attributes.tail"
                value="{{data.system.attributes.tail}}"
                data-dtype="Number"
                min="1"
                max="{{data.speciesConfig.maxAttributes.tail}}"
                {{^if data.editable_not_soft_locked}}disabled{{/if}}
            />
        </div>
    </div>

    <div class="attributes-element flexrow flex-sixth attributes-title">
        <h2 class="noborder">{{localize 'cats.actor_sheet.attributes.title'}}</h2>
    </div>

    <div class="attributes-element flexrow">
        <div class="flex-sixth"></div>
        <div class="flex-third ability no-border-bottom">
            <h4 class="ability-name show-item-tooltip" data-id="purring" data-uuid="Compendium.cats-la-mascarade.core-attributes.Item.CatCoreAtt000005">
                {{localize 'cats.actor_sheet.attributes.purring'}}
            </h4>
            <input
                class="ability-score select-on-focus"
                type="number"
                name="system.attributes.purring"
                value="{{data.system.attributes.purring}}"
                data-dtype="Number"
                min="1"
                max="5"
                {{^if data.editable_not_soft_locked}}disabled{{/if}}
            />
        </div>
        <div class="flex-third ability no-border-bottom">
            <h4 class="ability-name show-item-tooltip" data-id="pad" data-uuid="Compendium.cats-la-mascarade.core-attributes.Item.CatCoreAtt000008">
                {{localize 'cats.actor_sheet.attributes.pad'}}
            </h4>
            <input
                class="ability-score select-on-focus"
                type="number"
                name="system.attributes.pad"
                value="{{data.system.attributes.pad}}"
                data-dtype="Number"
                min="1"
                max="5"
                {{^if data.editable_not_soft_locked}}disabled{{/if}}
            />
        </div>
        <div class="flex-sixth"></div>

        <div class="flex-third ability no-border-right">
            <h4 class="ability-name show-item-tooltip" data-id="caress" data-uuid="Compendium.cats-la-mascarade.core-attributes.Item.CatCoreAtt000006">
                {{localize 'cats.actor_sheet.attributes.caress'}}
            </h4>
            <input
                class="ability-score select-on-focus"
                type="number"
                name="system.attributes.caress"
                value="{{data.system.attributes.caress}}"
                data-dtype="Number"
                min="1"
                max="5"
                {{^if data.editable_not_soft_locked}}disabled{{/if}}
            />
        </div>
        <div class="flex-third"></div>
        <div class="flex-third ability no-border-left">
            <h4 class="ability-name show-item-tooltip" data-id="whiskers" data-uuid="Compendium.cats-la-mascarade.core-attributes.Item.CatCoreAtt000007">
                {{localize 'cats.actor_sheet.attributes.whiskers'}}
            </h4>
            <input
                class="ability-score select-on-focus"
                type="number"
                name="system.attributes.whiskers"
                value="{{data.system.attributes.whiskers}}"
                data-dtype="Number"
                min="1"
                max="5"
                {{^if data.editable_not_soft_locked}}disabled{{/if}}
            />
        </div>
    </div>
</div>

{{!-- Bottom Pad & Luck --}}
<div class="flexrow bottom">
    <div class="attributes-element flexrow paw">
        <div class="flex-third ability"></div>
        <div class="flex-third ability label">
            {{localize 'cats.actor_sheet.attributes.physical'}}
        </div>
        <div class="flex-third ability"></div>
    </div>

    <div class="attributes-element flexrow flex-sixth">
        <div class="ability">
            <h4 class="ability-name show-item-tooltip" data-id="luck" data-uuid="Compendium.cats-la-mascarade.core-attributes.Item.CatCoreAtt000009">
                {{localize 'cats.actor_sheet.attributes.luck'}}
            </h4>
            <input
                class="ability-score select-on-focus"
                type="number"
                name="system.attributes.luck"
                value="{{data.system.attributes.luck}}"
                data-dtype="Number"
                min="1"
                max="5"
                {{^if data.editable_not_soft_locked}}disabled{{/if}}
            />
        </div>
    </div>

    <div class="attributes-element flexrow paw">
        <div class="flex-third ability"></div>
        <div class="flex-third ability label">
            {{localize 'cats.actor_sheet.attributes.mental'}}
        </div>
        <div class="flex-third ability"></div>
    </div>
</div>
