<h2>{{localize 'cats.actor_sheet.summary.title'}}</h2>
<table>
    <tr>
        <th></th>
        <th>{{localize 'cats.actor_sheet.summary.given'}}</th>
        <th>{{localize 'cats.actor_sheet.summary.modifier'}}</th>
        <th>{{localize 'cats.actor_sheet.summary.usable'}}</th>
        <th>{{localize 'cats.actor_sheet.summary.used'}}</th>
        <th>{{localize 'cats.actor_sheet.summary.comments'}}</th>
    </tr>
    <tr>
        <th>{{localize 'cats.actor_sheet.attributes.title'}}</th>
        <td class="center">{{attributes.given}}</td>
        <td class="center">{{attributes.mod}}</td>
        <td class="center bold">{{attributes.sum}}</td>
        <td class="center bold {{#ifCond attributes.used '==' attributes.sum}}goodvalue{{else}}badvalue{{/ifCond}}">{{attributes.used}}</td>
        <td>
            <ul>
                {{#each attributes.logs as |text|}}
                    <li>{{sanitizeFormula '+' text}}</li>
                {{/each}}
            </ul>
        </td>
    </tr>
    <tr>
        <th>{{localize 'cats.actor_sheet.skills.title'}}</th>
        <td class="center">{{skills.given}}</td>
        <td class="center">{{skills.mod}}</td>
        <td class="center bold">{{skills.sum}}</td>
        <td class="center bold {{#ifCond skills.used '==' skills.sum}}goodvalue{{else}}badvalue{{/ifCond}}">{{skills.used}}</td>
        <td>
            {{#if isCat}}{{localize 'cats.actor_sheet.summary.comment_skills_cats'}}{{/if}}
            <ul>
            {{#each skills.logs as |text|}}
                <li>{{sanitizeFormula '+' text}}</li>
            {{/each}}
            </ul>

            {{#if skills.diy}}
            {{localize 'cats.actor_sheet.summary.comment_skills_diy'}}
            <ul>
            {{#each skills.diy as |text|}}
                <li>{{sanitizeFormula '+' text}}</li>
            {{/each}}
            </ul>
            {{/if}}
        </td>
    </tr>
    <tr>
        <th>{{localize 'cats.actor_sheet.talent.title'}}</th>
        <td class="center">{{talents.given}}</td>
        <td class="center">0</td>
        <td class="center bold">{{talents.given}}</td>
        <td class="center bold {{#ifCond talents.used '==' talents.given}}goodvalue{{else}}badvalue{{/ifCond}}">{{talents.used}}</td>
        <td>-</td>
    </tr>
</table>