<div class="experience-wrapper">
    {{!-- First line : totals --}}
    <fieldset class="flexrow narrative">
        <legend class="text-block-header">{{localize 'cats.actor_sheet.experience.title'}}</legend>

        {{!-- Successes counts --}}
        <div class="flexcol experience-element successes">
            <label class="narrative-label">{{localize 'cats.actor_sheet.experience.successes'}}</label>
            <div class="flexrow">
                <input class="narrative-value"
                       name="system.gauges.experience.successes"
                       type="number"
                       min="0"
                       data-dtype="Number"
                       value="{{data.system.gauges.experience.successes}}"
                       {{^if data.editable_not_soft_locked}}disabled{{/if}}
                />
            </div>
        </div>

        {{!-- Failures counts --}}
        <div class="flexcol experience-element failures">
            <label class="narrative-label">{{localize 'cats.actor_sheet.experience.failures'}}</label>
            <div class="flexrow">
                <input class="narrative-value"
                       name="system.gauges.experience.failures"
                       type="number"
                       min="0"
                       data-dtype="Number"
                       value="{{data.system.gauges.experience.failures}}"
                       {{^if data.editable_not_soft_locked}}disabled{{/if}}
                />
            </div>
        </div>

        {{!-- Total xp earn --}}
        <div class="flexcol experience-element total-earn">
            <label class="narrative-label">{{localize 'cats.actor_sheet.experience.total_earn'}}</label>
            <div class="flexrow">
                <input class="narrative-value"
                       name="system.gauges.experience.total.earn"
                       type="number"
                       min="0"
                       data-dtype="Number"
                       value="{{data.system.gauges.experience.total.earn}}"
                       {{^if data.editable_not_soft_locked}}disabled{{/if}}
                />
            </div>
        </div>

        {{!-- Total xp spent --}}
        <div class="flexcol experience-element total-spent">
            <label class="narrative-label">{{localize 'cats.actor_sheet.experience.total_spent'}}</label>
            <div class="flexrow">
                <input class="narrative-value"
                       name="system.gauges.experience.total.spent"
                       type="number"
                       min="0"
                       data-dtype="Number"
                       value="{{data.system.gauges.experience.total.spent}}"
                       {{^if data.editable_not_soft_locked}}disabled{{/if}}
                />
            </div>
        </div>
    </fieldset>

    {{!-- Second line : logs --}}
    <fieldset>
        <legend class="text-block-header">{{localize 'cats.actor_sheet.experience.logs'}}</legend>
        {{editor data.enrichedHtml.experienceLogs target="system.gauges.experience.logs" button=true owner=owner editable=editable}}
    </fieldset>
</div>
