<div class="skills-wrapper flexcol">
    {{!-- Favors --}}
    <div class="skills-wrapper-left">
        {{!-- Creditor --}}
        <fieldset class="creditor">
            <legend class="text-block-header">
                {{localize 'cats.actor_sheet.favor.creditor'}}
                {{#if data.editable_not_soft_locked}}
                    <a data-item-type="favor" data-item-subtype="creditor" class="pointer item-add" title="{{localize 'cats.global.add'}}"><i class="fas fa-plus"></i></a>
                {{/if}}
            </legend>
            <ul class="flexcol">
                {{#each data.splitItemsList.creditor as |favor|}}
                    {{> 'systems/cats-la-mascarade/templates/items/favor/favor-entry.html' item=favor id=id editable=../data.editable_not_soft_locked}}
                {{/each}}
            </ul>
        </fieldset>
    </div>

    {{!-- Indebted --}}
    <div class="skills-wrapper-right">
        <fieldset class="indebted">
            <legend class="text-block-header">
                {{localize 'cats.actor_sheet.favor.indebted'}}
                {{#if data.editable_not_soft_locked}}
                    <a data-item-type="favor" data-item-subtype="indebted" class="pointer item-add" title="{{localize 'cats.global.add'}}"><i class="fas fa-plus"></i></a>
                {{/if}}
            </legend>
            <ul class="flexcol">
                {{#each data.splitItemsList.indebted as |favor|}}
                    {{> 'systems/cats-la-mascarade/templates/items/favor/favor-entry.html' item=favor id=id editable=../data.editable_not_soft_locked}}
                {{/each}}
            </ul>
        </fieldset>
    </div>
</div>
