<section class="flexrow identity">
    {{!-- Species --}}
    <div class="flexcol identity-element">
        <label class="identity-label">{{localize 'cats.actor_sheet.species.title'}}</label>
        <div class="flexrow">
            <select class="identity-value" name="system.specie" {{^if data.editable_not_soft_locked}}disabled{{/if}}>
                {{selectOptions data.speciesList selected=data.system.specie valueAttr='id' labelAttr='label' localize=true}}
            </select>
        </div>
    </div>

    {{!-- Reputation --}}
    <div class="flexcol identity-element">
        <label class="identity-label">{{localize 'cats.actor_sheet.identity.reputation'}}</label>
        <div class="flexrow">
            <input class="identity-value select-on-focus"
                   name="system.identity.reputation"
                   type="number"
                   min="0"
                   max="30"
                   data-dtype="Number"
                   value="{{data.system.identity.reputation}}"
                   {{^if data.editable_not_soft_locked}}disabled{{/if}}
           />
        </div>
    </div>

    {{!-- Lives --}}
    <div class="flexcol identity-element lives">
        <label class="identity-label">{{localize 'cats.actor_sheet.identity.nine_lives'}}</label>
        <div class="flexrow flex-align-self add-minus-control pointer" data-type="nine_lives" title="{{localize 'cats.actor_sheet.gauges_modifier'}}">
            {{#times data.system.gauges.nine_lives.max 1}}
                {{#ifCond this '<=' ../data.system.gauges.nine_lives.value}}
                    <i class="fa-solid fa-square-{{this}} {{#ifCond this '==' 0}}text-red{{/ifCond}}"></i>
                {{else}}
                    <i class="fa-thin fa-square-{{this}}"></i>
                {{/ifCond}}
            {{/times}}
        </div>
    </div>
</section>

<section class="flexrow identity">
    {{!-- Injury Level --}}
    <div class="flexcol identity-element injuries">
        <div class="talent-values">
            {{!-- <i class="fa-thin fa-circle-minus add-minus-control" data-type="injury_levels_minus"></i> --}}
            <label class="identity-label">{{localize 'cats.actor_sheet.injury_levels.title'}}</label>
            {{!-- <i class="fa-thin fa-circle-plus add-minus-control" data-type="injury_levels_plus"></i> --}}
        </div>
        <div class="flexrow flex-align-self add-minus-control numeric-scrolling-bar" data-type="injury_level" title="{{localize 'cats.actor_sheet.gauges_modifier'}}">
            {{#times data.injuryLevelMaxConfig.numeric 1}}
                {{#ifCond this '>' ../data.system.gauges.injury_level.value}}
                    <div class="square thin">{{this}}</div>
                {{else}}
                    <div class="square {{#ifCond this '>' 0}}red{{/ifCond}}">{{this}}</div>
                {{/ifCond}}
            {{/times}}
            <i class="{{#ifCond data.system.gauges.injury_level.value '>=' data.injuryLevelMaxConfig.unconscious}}fa-solid fa-bed text-red{{else}}fa-thin fa-bed{{/ifCond}} pointer" title="{{localize 'cats.actor_sheet.injury_levels.unconsciousness'}}"></i>
            <i class="{{#ifCond data.system.gauges.injury_level.value '>=' data.injuryLevelMaxConfig.coma}}fa-solid fa-bed-pulse text-red{{else}}fa-thin fa-bed-pulse{{/ifCond}} pointer" title="{{localize 'cats.actor_sheet.injury_levels.coma'}}"></i>
            <i class="{{#ifCond data.system.gauges.injury_level.value '>=' data.injuryLevelMaxConfig.death}}fa-solid fa-skull text-red{{else}}fa-thin fa-skull{{/ifCond}} pointer" title="{{localize 'cats.actor_sheet.injury_levels.death'}}"></i>
        </div>
    </div>

    {{!-- Talent Level --}}
    <div class="flexcol identity-element talent-levels">
        <div class="talent-values">
            {{!-- <i class="fa-thin fa-circle-minus add-minus-control" data-type="talent_levels_minus"></i> --}}
            <label class="identity-label">{{localize 'cats.actor_sheet.talent.levels_used'}} ({{data.system.gauges.talent_levels_used.value}})</label>
            {{!-- <i class="fa-thin fa-circle-plus add-minus-control" data-type="talent_levels_plus"></i> --}}
        </div>
        <div class="flexrow">
            <div class="flexrow flex-align-center add-minus-control numeric-scrolling-bar" data-type="talent_levels" title="{{localize 'cats.actor_sheet.gauges_modifier'}}">
                {{#each data.talentFatigueBarValues as |level index|}}
                    <div class="square w20 {{#ifCond level '==' 0}}thin{{else}}{{#ifCond level '===' null}}blank{{/ifCond}}{{/ifCond}} {{#ifCond index '==' 5}}{{#ifCond level '==' 0}}green{{else}}red{{/ifCond}}{{/ifCond}}">{{level}}</div>
                {{/each}}
            </div>
        </div>
    </div>
</section>
