<div class="equipment-wrapper flexcol">
    {{!-- Objects & Weapons --}}
    <fieldset class="objects">
        <legend class="text-block-header">
            {{localize 'cats.actor_sheet.equipment'}}
            {{#if data.editable_not_soft_locked}}
                <a data-item-type="item" class="pointer item-add" title="{{localize 'cats.global.add'}}"><i class="fas fa-plus"></i></a>
            {{/if}}
        </legend>

        <li class="item flexcol">
            <ul class="item-header flexrow">
                <li class="item-img"></li>
                <li class="item-name"><h4>{{localize 'cats.items_sheet.name'}}</h4></li>
                <li class="item-injury-levels"><h4>{{localize 'cats.items_sheet.injury_levels'}}</h4></li>
                <li class="item-range"><h4>{{localize 'cats.items_sheet.range'}}</h4></li>
                <li class="item-splash"><h4>{{localize 'cats.items_sheet.splash'}}</h4></li>
                {{#if data.editable_not_soft_locked}}
                    <li data-item-id="{{item._id}}" class="action pointer item-edit" title="{{localize 'cats.global.edit'}}"><i class="fas fa-edit"></i></li>
                    <li data-item-id="{{item._id}}" class="action pointer item-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></li>
                {{/if}}
            </ul>
        </li>
        {{#each data.splitItemsList.item as |item|}}
            {{> 'systems/cats-la-mascarade/templates/items/item/item-entry.html' item=item id=id editable=../data.editable_not_soft_locked}}
        {{/each}}
    </fieldset>
</div>
