<div class="narrative-wrapper">
    {{!-- First line : narratives labels --}}
    <fieldset class="flexrow narrative">
        <legend class="text-block-header">{{localize 'cats.actor_sheet.information'}}</legend>

        <div class="flexcol narrative-element age">
            <label class="narrative-label">{{localize 'cats.actor_sheet.identity.age'}}</label>
            <div class="flexrow">
                <input class="narrative-value"
                       name="system.identity.age"
                       type="number"
                       min="0"
                       data-dtype="Number"
                       value="{{data.system.identity.age}}"
                       {{^if data.editable_not_soft_locked}}disabled{{/if}}
                />
            </div>
        </div>

        {{!-- Breed is a Cats only field --}}
        {{#ifCond data.system.specie "==" "cat"}}
        <div class="flexcol narrative-element breed">
            <label class="narrative-label">{{localize 'cats.actor_sheet.identity.breed'}}</label>
            {{#if data.splitItemsList.cat_breed.uuid}}
                <div class="flexrow golden-bottom-border item-control">
                    <span class="item-name show-item-tooltip" data-uuid="{{data.splitItemsList.cat_breed.uuid}}">{{data.splitItemsList.cat_breed.name}}</span>
                    {{#if data.editable_not_soft_locked}}
                    <span class="action">
                        <i data-item-id="{{data.splitItemsList.cat_breed._id}}" class="item-edit fas fa-edit" title="{{localize 'cats.global.edit'}}"></i>
                        <i data-item-id="{{data.splitItemsList.cat_breed._id}}" class="item-delete fas fa-trash" title="{{localize 'Delete'}}"></i>
                    </span>
                    {{/if}}
                </div>
            {{else}}
                <div class="flexrow">
                    <input class="narrative-value"
                           name="system.identity.breed"
                           type="text"
                           data-dtype="String"
                           value="{{data.system.identity.breed}}"
                           {{^if data.editable_not_soft_locked}}disabled{{/if}}
                    />
                </div>
            {{/if}}
        </div>
        {{/ifCond}}

        <div class="flexcol narrative-element lineage">
            <label class="narrative-label">{{localize 'cats.actor_sheet.identity.lineage'}}</label>
            <div class="flexrow">
                <input class="narrative-value"
                       name="system.identity.lineage"
                       type="text"
                       data-dtype="String"
                       value="{{data.system.identity.lineage}}"
                       {{^if data.editable_not_soft_locked}}disabled{{/if}}
                />
            </div>
        </div>

        <div class="flexcol narrative-element faction">
            <label class="narrative-label">{{localize 'cats.actor_sheet.identity.faction'}}</label>
            {{#if data.splitItemsList.faction.uuid}}
                <div class="flexrow golden-bottom-border item-control">
                    <span class="item-name show-item-tooltip" data-uuid="{{data.splitItemsList.faction.uuid}}">{{data.splitItemsList.faction.name}}</span>
                    {{#if data.editable_not_soft_locked}}
                        <span class="action">
                            <i data-item-id="{{data.splitItemsList.faction._id}}" class="item-edit fas fa-edit" title="{{localize 'cats.global.edit'}}"></i>
                            <i data-item-id="{{data.splitItemsList.faction._id}}" class="item-delete fas fa-trash" title="{{localize 'Delete'}}"></i>
                        </span>
                    {{/if}}
                </div>
            {{else}}
                <div class="flexrow">
                    <input class="narrative-value"
                           name="system.identity.faction"
                           type="text"
                           data-dtype="String"
                           value="{{data.system.identity.faction}}"
                           {{^if data.editable_not_soft_locked}}disabled{{/if}}
                    />
                </div>
            {{/if}}
        </div>
    </fieldset>

    <fieldset class="narrative-desc">
        <legend class="text-block-header">{{localize 'cats.actor_sheet.description'}}</legend>
        {{editor data.enrichedHtml.description target="system.description" button=true owner=owner editable=editable}}
    </fieldset>

    <fieldset class="narrative-desc">
        <legend class="text-block-header">{{localize 'cats.actor_sheet.notes'}}</legend>
        {{editor data.enrichedHtml.notes target="system.notes" button=true owner=owner editable=editable}}
    </fieldset>
</div>
