<div class="skills-wrapper flexcol">
    {{!-- Skills --}}
    <div class="skills-wrapper-left {{#if data.isGM}}reload-skill-control{{/if}}">
        <fieldset class="skills">
            <legend class="text-block-header">
                {{localize 'cats.actor_sheet.skills.title'}}
                {{#if data.editable_not_soft_locked}}
                    <a data-item-type="skill" class="pointer item-add" title="{{localize 'cats.global.add'}}"><i class="fas fa-plus"></i></a>
                {{/if}}
            </legend>

            <ul class="flexcol">
                <li class="item flexcol">
                    <ul class="item-header item-control flexrow">
                        <li class="item-img"></li>
                        <li class="item-name"><h4>{{localize 'cats.items_sheet.name'}}</h4></li>
                        <li class="item-base"><h4>{{localize 'cats.items_sheet.base'}}</h4></li>
                        <li class="item-rank"><h4>{{localize 'cats.items_sheet.rank'}}</h4></li>
                        <li class="item-total"><h4>{{localize 'cats.items_sheet.total'}}</h4></li>
                    </ul>
                </li>
                {{#each data.splitItemsList.skill as |skill|}}
                    {{!-- Hide if currenlty non usable --}}
                    {{#ifCond ../data.showAllSkills '||' (ifCond skill.system.usable_by 'usableBy' ../data.system.specie)}}
                        {{> 'systems/cats-la-mascarade/templates/items/skill/skill-entry.html' item=skill id=id editable=../data.editable_not_soft_locked}}
                    {{/ifCond}}
                {{/each}}
            </ul>
        </fieldset>
    </div>

    {{!-- Advantages/Disadvantages --}}
    <div class="skills-wrapper-right">
        {{!-- Advantages --}}
        <fieldset class="advantages">
            <legend class="text-block-header">
                {{localize 'cats.actor_sheet.advantages'}}
                {{#if data.editable_not_soft_locked}}
                    <a data-item-type="advantage" data-item-subtype="advantage" class="pointer item-add" title="{{localize 'cats.global.add'}}"><i class="fas fa-plus"></i></a>
                {{/if}}
            </legend>
            <ul class="flexcol">
                {{#each data.splitItemsList.advantage as |advantage|}}
                    {{> 'systems/cats-la-mascarade/templates/items/advantage/advantage-entry.html' item=advantage id=id editable=../data.editable_not_soft_locked}}
                {{/each}}
            </ul>
        </fieldset>

        {{!-- Disadvantages --}}
        <fieldset class="disadvantages">
            <legend class="text-block-header">
                {{localize 'cats.actor_sheet.disadvantages'}}
                {{#if data.editable_not_soft_locked}}
                    <a data-item-type="advantage" data-item-subtype="disadvantage" class="pointer item-add" title="{{localize 'cats.global.add'}}"><i class="fas fa-plus"></i></a>
                {{/if}}
            </legend>
            <ul class="flexcol">
                {{#each data.splitItemsList.disadvantage as |advantage|}}
                    {{> 'systems/cats-la-mascarade/templates/items/advantage/advantage-entry.html' item=advantage id=id editable=../data.editable_not_soft_locked}}
                {{/each}}
            </ul>
        </fieldset>

        {{!-- Talents --}}
        <fieldset class="talents">
            <legend class="text-block-header">
                {{localize 'cats.actor_sheet.talent.title'}}
                {{#if data.editable_not_soft_locked}}
                    <a data-item-type="talent" class="pointer item-add" title="{{localize 'cats.global.add'}}"><i class="fas fa-plus"></i></a>
                {{/if}}
            </legend>
            <ul class="flexcol">
                <li class="item flexcol">
                    <ul class="item-header item-control flexrow">
                        <li class="item-img"></li>
                        <li class="item-name"><h4>{{localize 'cats.items_sheet.name'}}</h4></li>
                        <li class="item-rank"><h4>{{localize 'cats.items_sheet.rank'}}</h4></li>
                        {{#if data.editable_not_soft_locked}}
                            <li class="action item-edit"></li>
                            <li class="action item-delete"></li>
                        {{/if}}
                    </ul>
                </li>
                {{#each data.splitItemsList.talent as |talent|}}
                    {{> 'systems/cats-la-mascarade/templates/items/talent/talent-entry.html' item=talent id=id editable=../data.editable_not_soft_locked}}
                {{/each}}
            </ul>
        </fieldset>
    </div>
</div>
