<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}"/></h1>
    </header>
    <section class="sheet-body">
        {{!-- attributes--}}
        <article class="attributes" data-group="primary" data-tab="attributes">
            {{!-- "Usable By" is hidden, this is for cats only ;) --}}

            <div class="flexrow align-center breed-advantages">
                {{!-- Advantages --}}
                <fieldset class="advantages">
                    <legend class="text-block-header">{{localize 'cats.actor_sheet.advantages'}}</legend>
                    <ul class="flexcol">
                        {{#each data.fullItemsList as |advantage|}}
                            {{#ifCond advantage.system.advantage_type "==" "advantage"}}
                                {{> 'systems/cats-la-mascarade/templates/items/advantage/advantage-entry.html' item=advantage editable=../editable hideEditBt=true}}
                            {{/ifCond}}
                        {{/each}}
                    </ul>
                </fieldset>

                {{!-- Disadvantages --}}
                <fieldset class="disadvantages">
                    <legend class="text-block-header">{{localize 'cats.actor_sheet.disadvantages'}}</legend>
                    <ul class="flexcol">
                        {{#each data.fullItemsList as |advantage|}}
                            {{#ifCond advantage.system.advantage_type "==" "disadvantage"}}
                                {{> 'systems/cats-la-mascarade/templates/items/advantage/advantage-entry.html' item=advantage editable=../editable hideEditBt=true}}
                            {{/ifCond}}
                        {{/each}}
                    </ul>
                </fieldset>
            </div>

            {{!-- Description + Reference --}}
            {{> 'systems/cats-la-mascarade/templates/items/item/item-infos.html'}}
        </article>
    </section>
</form>
