<div class="{{cssClass}}" data-actor-id="{{actor._id}}" data-item-id="{{data._id}}">
    <header class="card-header">
        <h2 class="item-name"><img src="{{data.img}}" title="{{data.name}}" /> {{data.name}}</h2>
    </header>
    <section class="sheet-body">
        <ul>
            <li>
                <strong>{{localize 'cats.items_sheet.advantage'}}</strong> :
                <ul>
                    {{#each data.fullItemsList as |advantage|}}
                        {{#ifCond advantage.system.advantage_type "==" "advantage"}}
                            <li>{{advantage.name}}</li>
                        {{/ifCond}}
                    {{/each}}
                </ul>
            </li>
            <li>
                <strong>{{localize 'cats.items_sheet.disadvantage'}}</strong> :
                <ul>
                    {{#each data.fullItemsList as |advantage|}}
                        {{#ifCond advantage.system.advantage_type "==" "disadvantage"}}
                            <li>{{advantage.name}}</li>
                        {{/ifCond}}
                    {{/each}}
                </ul>
            </li>
        </ul>

        {{!-- Description + Reference --}}
        <p><strong>{{localize 'cats.items_sheet.description'}}</strong> : {{{data.enrichedHtml.description}}}</p>
        <p><strong>{{localize 'cats.items_sheet.book_reference'}}</strong> : {{data.system.book_reference}}</p>
    </section>
</div>
