<li class="item flexcol" data-item-id="{{item._id}}">
    <ul class="item-header item-control flexrow">
        <li class="item-img"><img src="{{item.img}}" title="{{item.name}}" width="32px" height="32px"/></li>
        <li class="item-name {{#if removed}}removed{{else}}show-item-tooltip{{/if}} {{^ifCond item.system.usable_by 'usableBy' @root.data.system.specie}}not-usable{{/ifCond}}" data-uuid="{{item.uuid}}">{{item.name}}</li>
        {{#if editable}}
            {{^if hideEditBt}}
            <li data-item-id="{{item._id}}" class="action pointer item-edit" title="{{localize 'cats.global.edit'}}"><i class="fas fa-edit"></i></li>
            {{/if}}
            {{!-- need uuid for tooltips, and id for delete --}}
            <li data-item-id="{{item._id}}" data-item-uuid="{{item.uuid}}" class="action pointer item-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></li>
        {{/if}}
    </ul>
</li>