<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}" /></h1>
    </header>
    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <article class="attributes flexcol" data-group="primary" data-tab="attributes">
            <div class="flexrow align-center">
                {{!-- Usable By --}}
                {{> 'systems/cats-la-mascarade/templates/items/item/item-usable-by.html'}}

                <fieldset>
                    <legend class="text-block-header">{{localize 'cats.items_sheet.type'}}</legend>
                    <select class="attribute" name="system.advantage_type">
                        {{selectOptions data.subTypesList selected=data.system.advantage_type valueAttr='id' labelAttr='label' localize=true}}
                    </select>
                </fieldset>
            </div>

            <div class="flexrow align-center">
                <fieldset>
                    <legend class="text-block-header">{{localize 'cats.items_sheet.modifier_skill_count'}}</legend>
                    <input class="select-on-focus" type="number" name="system.modifier.skill" value="{{data.system.modifier.skill}}" data-dtype="Number" min="-9" max="9"/>
                </fieldset>

                <fieldset>
                    <legend class="text-block-header">{{localize 'cats.items_sheet.modifier'}}</legend>
                    <input class="select-on-focus" type="text" name="system.modifier.formula" value="{{data.system.modifier.formula}}" data-dtype="String"/>
                </fieldset>
            </div>

            {{!-- Description + Reference --}}
            {{> 'systems/cats-la-mascarade/templates/items/item/item-infos.html'}}
        </article>
    </section>
</form>