<article class="tab infos active" data-group="primary" data-tab="infos">
    <fieldset class="description">
        <legend class="text-block-header">{{localize 'cats.items_sheet.description'}}</legend>
        {{editor data.enrichedHtml.description target="system.description" button=true owner=owner editable=editable}}
    </fieldset>
    <fieldset class="reference">
        <legend class="text-block-header">{{localize 'cats.items_sheet.book_reference'}}</legend>
        <input type="text" name="system.book_reference" value="{{data.system.book_reference}}" />
    </fieldset>
</article>
