<fieldset class="usable-by flexrow">
    <legend class="text-block-header">{{localize 'cats.items_sheet.usable_by'}}</legend>
    <div>
        <label>
            <input type="checkbox" name="usableBy.cat" {{checked this.document.usableBy.cat}} />
            {{localize 'cats.actor_sheet.species.cat'}}
        </label>
    </div>
    <div>
        <label>
            <input type="checkbox" name="usableBy.bastet" {{checked this.document.usableBy.bastet}} />
            {{localize 'cats.actor_sheet.species.bastet'}}
        </label>
    </div>
    <div>
        <label>
            <input type="checkbox" name="usableBy.human" {{checked this.document.usableBy.human}} />
            {{localize 'cats.actor_sheet.species.human'}}
        </label>
    </div>
</fieldset>
