<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}"/></h1>
    </header>
    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <article class="attributes" data-group="primary" data-tab="attributes">
            <div class="flexrow align-center">
                {{!-- Usable By --}}
                {{> 'systems/cats-la-mascarade/templates/items/item/item-usable-by.html'}}

                <fieldset>
                    <legend class="text-block-header">{{localize 'cats.items_sheet.quantity'}}</legend>
                    <input class="select-on-focus" type="number" name="system.quantity" value="{{data.system.quantity}}" data-dtype="Number" min="1"/>
                </fieldset>
            </div>

            <div class="flexrow align-baseline align-center">
                <fieldset>
                    <legend class="text-block-header">{{localize 'cats.items_sheet.injury_levels'}}</legend>
                    <input class="select-on-focus" type="text" name="system.injury_levels" value="{{data.system.injury_levels}}" data-dtype="String"/>
                </fieldset>

                <fieldset>
                    <legend class="text-block-header">{{localize 'cats.items_sheet.range'}}</legend>
                    <input class="select-on-focus" type="text" name="system.range" value="{{data.system.range}}" data-dtype="String"/>
                </fieldset>

                <fieldset>
                    <legend class="text-block-header">{{localize 'cats.items_sheet.splash'}}</legend>
                    <input class="select-on-focus" type="text" name="system.splash" value="{{data.system.splash}}" data-dtype="String"/>
                </fieldset>
            </div>

            {{!-- Description + Reference --}}
            {{> 'systems/cats-la-mascarade/templates/items/item/item-infos.html'}}
        </article>
    </section>
</form>
