<li class="item flexcol" data-item-id="{{item._id}}">
    <ul class="item-header item-control flexrow">
        <li class="item-img"><img src="{{item.img}}" title="{{item.name}}" width="32px" height="32px"/></li>
        <li class="item-name show-item-tooltip" data-uuid="{{item.uuid}}">
            <span class="{{^ifCond item.system.usable_by 'usableBy' @root.data.system.specie}}not-usable{{/ifCond}}">{{item.name}}</span>
            {{#if item.system.quantity}} <sup>x{{item.system.quantity}}</sup>{{/if}}
        </li>
        <li class="item-injury-levels">{{item.system.injury_levels}}</li>
        <li class="item-range">{{item.system.range}}</li>
        <li class="item-splash">{{item.system.splash}}</li>
        {{#if editable}}
            <li data-item-id="{{item._id}}" class="action pointer item-edit" title="{{localize 'cats.global.edit'}}"><i class="fas fa-edit"></i></li>
            <li data-item-id="{{item._id}}" class="action pointer item-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></li>
        {{/if}}
    </ul>
</li>