<li class="item flexcol" data-item-id="{{item._id}}">
    <ul class="item-header item-control flexrow">
        <li class="item-img"><img src="{{item.img}}" title="{{item.name}}" width="32px" height="32px"/></li>
        <li class="item-name show-item-tooltip{{#if item.system.rank}} talent-name{{/if}}{{^ifCond item.system.usable_by 'usableBy' @root.data.system.specie}} not-usable{{/ifCond}}"
            {{#if item.system.rank}}data-id="{{item._id}}"{{/if}}
            data-uuid="{{item.uuid}}"
        >{{item.name}}</li>

        <li class="item-rank"><input
            class="skill-score select-on-focus"
            type="number"
            name="itemsValues.{{item._id}}"
            value="{{item.system.rank}}"
            data-dtype="Number"
            min="0"
            max="{{lookup item.system.max_rank @root.data.system.specie}}"
            {{^if editable}}disabled{{/if}}
        /> {{lookup item.system.max_rank @root.data.system.specie}}
        </li>

        {{#if editable}}
            <li data-item-id="{{item._id}}" class="action pointer item-edit" title="{{localize 'cats.global.edit'}}"><i class="fas fa-edit"></i></li>
            <li data-item-id="{{item._id}}" class="action pointer item-delete" title="{{localize 'Delete'}}"><i class="fas fa-trash"></i></li>
        {{/if}}
    </ul>
</li>