<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}"/></h1>
    </header>
    <section class="sheet-body">
        {{!-- attributes--}}
        <article class="attributes" data-group="primary" data-tab="attributes">
            {{!-- "Usable By" is auto defined by "Max Ranks" values --}}

            <div class="flexrow align-center">
                <fieldset>
                    <legend class="text-block-header">{{localize 'cats.items_sheet.rank'}}</legend>
                    <label>&nbsp;</label>
                    <input class="select-on-focus" type="number" name="system.rank" value="{{data.system.rank}}" data-dtype="Number" min="0" max="5"/>
                </fieldset>

                {{!-- Max Ranks --}}
                <fieldset class="flexrow">
                    <legend class="text-block-header">{{localize 'cats.items_sheet.max_rank'}}</legend>

                    <label>
                        {{localize 'cats.actor_sheet.species.cat'}}
                        <input class="select-on-focus" type="number" name="system.max_rank.cat" value="{{data.system.max_rank.cat}}" data-dtype="Number" min="0" max="5"/>
                    </label>
                    <label>
                        {{localize 'cats.actor_sheet.species.bastet'}}
                        <input class="select-on-focus" type="number" name="system.max_rank.bastet" value="{{data.system.max_rank.bastet}}" data-dtype="Number" min="0" max="5"/>
                    </label>
                    <label>
                        {{localize 'cats.actor_sheet.species.human'}}
                        <input class="select-on-focus" type="number" name="system.max_rank.human" value="{{data.system.max_rank.human}}" data-dtype="Number" min="0" max="5"/>
                    </label>
                </fieldset>
            </div>

            {{!-- Description + Reference --}}
            {{> 'systems/cats-la-mascarade/templates/items/item/item-infos.html'}}
        </article>
    </section>
</form>
