{{!-- Copyright (c) 2022 by David Khourshid (https://codepen.io/davidkpiano/pen/Xempjq) --}}
<div class="all-wrap" id="swinging-cat">
    <div class="all">
        <div class="yarn"></div>
        <div class="cat-wrap">
            <div class="cat">
                <div class="cat-upper">
                    <div class="cat-leg"></div>
                    <div class="cat-leg"></div>
                    <div class="cat-head">
                        <div class="cat-ears">
                            <div class="cat-ear"></div>
                            <div class="cat-ear"></div>
                        </div>
                        <div class="cat-face">
                            <div class="cat-eyes"></div>
                            <div class="cat-mouth"></div>
                            <div class="cat-whiskers"></div>
                        </div>
                    </div>
                </div>
                <div class="cat-lower-wrap">
                    <div class="cat-lower">
                        <div class="cat-leg">
                            <div class="cat-leg">
                                <div class="cat-leg">
                                    <div class="cat-leg">
                                        <div class="cat-leg">
                                            <div class="cat-leg">
                                                <div class="cat-leg">
                                                    <div class="cat-leg">
                                                        <div class="cat-leg">
                                                            <div class="cat-leg">
                                                                <div class="cat-leg">
                                                                    <div class="cat-leg">
                                                                        <div class="cat-leg">
                                                                            <div class="cat-leg">
                                                                                <div class="cat-leg">
                                                                                    <div class="cat-leg">
                                                                                        <div class="cat-paw"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cat-leg">
                            <div class="cat-leg">
                                <div class="cat-leg">
                                    <div class="cat-leg">
                                        <div class="cat-leg">
                                            <div class="cat-leg">
                                                <div class="cat-leg">
                                                    <div class="cat-leg">
                                                        <div class="cat-leg">
                                                            <div class="cat-leg">
                                                                <div class="cat-leg">
                                                                    <div class="cat-leg">
                                                                        <div class="cat-leg">
                                                                            <div class="cat-leg">
                                                                                <div class="cat-leg">
                                                                                    <div class="cat-leg">
                                                                                        <div class="cat-paw"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cat-tail">
                            <div class="cat-tail">
                                <div class="cat-tail">
                                    <div class="cat-tail">
                                        <div class="cat-tail">
                                            <div class="cat-tail">
                                                <div class="cat-tail">
                                                    <div class="cat-tail">
                                                        <div class="cat-tail">
                                                            <div class="cat-tail">
                                                                <div class="cat-tail">
                                                                    <div class="cat-tail">
                                                                        <div class="cat-tail">
                                                                            <div class="cat-tail">
                                                                                <div class="cat-tail">
                                                                                    <div class="cat-tail -end"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>