<form class="{{cssClass}} flexcol limited" data-lang="{{localize 'I18N.Language'}}" autocomplete="off">
    <img class="profile-img full" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    <div class="sheet-header">
        <h1 class="charname">{{data.name}}</h1>
        {{{data.enrichedHtml.description}}}
    </div>
</form>
