<form class="{{cssClass}}" data-lang="{{localize 'I18N.Language'}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header flexrow">
        <section class="identity-section flexrow">
            {{!-- Portrait --}}
            <img class="dragndrop-actor-uuid pointer"
                 src="{{data.img}}"
                 {{#if data.editable_not_soft_locked}}data-edit="img"{{/if}}
                 data-actor-uuid="{{actor.uuid}}"
                 draggable="true"
                 title="{{data.name}}"
                 alt="portrait"/>

            {{!-- Name and important informations --}}
            <div class="identity-wrapper">
                <section class="flexrow">
                    <div class="flexcol name">
                        <h1 class="char-name">
                            <label>
                                <input name="name" type="text" value="{{data.name}}" {{^if data.editable_not_soft_locked}}disabled{{/if}}/>
                            </label>
                        </h1>
                    </div>
                    <div class="soft-lock">
                        <i class="fas fa-{{^if data.system.soft_locked}}un{{/if}}lock {{#if editable}}soft-lock-control pointer{{/if}}"
                           title="{{#if data.system.soft_locked}}{{localize 'cats.actor_sheet.soft_lock.locked'}}{{else}}{{localize 'cats.actor_sheet.soft_lock.unlocked'}}{{/if}}"></i>
                        {{^if data.system.soft_locked}}<i class="fad fa-sigma creation-calculator-summary"></i>{{/if}}
                    </div>
                </section>
                {{> 'systems/cats-la-mascarade/templates/actors/character/identity.html'}}
            </div>
        </section>

        {{!-- Cats paw - Physical + Mental + Luck --}}
        <section class="attributes-section flexrow">
            <div class="attributes-wrapper flexcol">
                {{> 'systems/cats-la-mascarade/templates/actors/character/attributes.html'}}
            </div>
        </section>
    </header>
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="skills">{{localize 'cats.actor_sheet.skills.title'}}</a>
            <a class="item" data-tab="narrative">{{localize 'cats.actor_sheet.information'}}</a>
            <a class="item" data-tab="favors">{{localize 'cats.actor_sheet.favor.title'}}</a>
            <a class="item" data-tab="inventory">{{localize 'cats.actor_sheet.equipment'}}</a>
            <a class="item" data-tab="experience">{{localize 'cats.actor_sheet.experience.title'}}</a>
        </nav>

        {{!-- Skills Tab --}}
        <article class="tab skills" data-group="primary" data-tab="skills">
            {{> 'systems/cats-la-mascarade/templates/actors/character/skills.html'}}
        </article>

        {{!-- Narrative Tab --}}
        <article class="tab narrative" data-group="primary" data-tab="narrative">
            {{> 'systems/cats-la-mascarade/templates/actors/character/narrative.html'}}
        </article>

        {{!-- Favor Tab --}}
        <article class="tab favors" data-group="primary" data-tab="favors">
            {{> 'systems/cats-la-mascarade/templates/actors/character/favors.html'}}
        </article>

        {{!-- Inventory Tab --}}
        <article class="tab inventory" data-group="primary" data-tab="inventory">
            {{> 'systems/cats-la-mascarade/templates/actors/character/inventory.html'}}
        </article>

        {{!-- Experience Tab --}}
        <article class="tab experience" data-group="primary" data-tab="experience">
            {{> 'systems/cats-la-mascarade/templates/actors/character/experience.html'}}
        </article>
    </section>
</form>